[2022-08-11 07:23] Pradumnasaraf opened #2 "[DOCS] Add issue templates"
Refer to the GitHub's official [docs](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository)

[2022-08-11 07:24] Pradumnasaraf opened #3 "[DOCS] Add PR templates"
Refer to the official GitHub's [docs](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository)

[2022-08-11 07:25] viralvaghela opened #4 "How to validate questions?"
Hello,
How will we validate that submitted questions are being asked in the interview or an anonymous user has just posted random questions?

[2022-08-11 07:30] Dun-sin commented on #2
I want to take this, can I?

[2022-08-11 07:34] Pradumnasaraf commented on #2
Sure @Dun-sin :)

[2022-08-11 07:39] Pradumnasaraf opened #6 "[CI] Add Conventional changelog action"
### Changes
- Add workflow for that which create auto-release and CHANGELOG file.
Refer to this - https://github.com/TriPSs/conventional-changelog-action

[2022-08-11 11:49] OumaimaNaciri opened #9 "Questions verification"
Who can submit the question?
How to check the credibility of the submitter?
are there is any system to validate the questions?

[2022-08-11 11:54] Swaraj-Singh-30 opened #10 "UX wireframe"
Here is the UX wireframe for the website, if ready to got with it will be issuing an UI too.

https://excalidraw.com/#json=R6Dr_C1S9JMKNl1lKVdkZ,5Cpg-gVKd0mzRfLXUfz9aA

[2022-08-11 12:26] viralvaghela commented on #9
Same #4

[2022-08-11 13:24] jessej-samuel commented on #4
You could implement a Report system and have moderators check on the reports (like StackOverflow)

[2022-08-11 15:44] anaskhan28 opened #11 "is there will be a section to add dsa asked questions?"

[2022-08-11 15:49] veganaize opened #12 "Why frameworks?"
Why already worrying about frameworks?  Why not just go vanilla and build up from there?  :icecream:

[2022-08-11 16:52] dioveath opened #13 "defanging would also need right resume, right connections/referrals, behavioral questions..??"

[2022-08-11 16:54] Aryan-Deshpande commented on #6
Hey, I would like to work on this issue!

[2022-08-11 17:19] #2 closed

[2022-08-11 17:22] Pradumnasaraf commented on #6
Yes go ahead :)

[2022-08-11 17:24] ykdojo commented on #13
eventually yes, I think we'll have all of those!

[2022-08-11 17:25] ykdojo commented on #12
I'm just familiar with Next.js + Tailwind, but I have nothing against vanilla. Open to ideas

[2022-08-11 17:25] ykdojo commented on #11
Yes!

[2022-08-11 17:32] anaskhan28 commented on #11
super excited to learn and will try to contribute some learning too ✌️

[2022-08-11 17:37] ykdojo commented on #10
Wow amazing! Really appreciate you doing this, @Swaraj-Singh-30.

Questions:

1. What's the alumni section for?
2. Any chance we can have something simpler to get started with so it's easier for everyone to implement it?

Thank you so much again!

[2022-08-11 17:39] ykdojo opened #14 "[FEATURE] <Make a signup/login view>"
### Description

The first step in terms of dev/coding for this project is, I think, the signup/login view.

Signing up will be useful in case people want to associate their submission with their email address. In my opinion, it's important for people to have that option so that if the submission is not complete, we can go back and forth to make sure it's in a good enough state for us to feature o

[2022-08-11 17:40] ykdojo commented on #9
let's bring this to #4

[2022-08-11 17:40] #9 closed

[2022-08-11 17:51] ykdojo opened #16 "Announcement: discussions + discord"
Hey everyone!

I was asked to create a discord server for this project... so I did!

I made an announcement in the discussions tab here: https://github.com/ykdojo/defaang/discussions/15

Feel free to use the discussions tab and/or the discord to chat about and discuss this project!

[2022-08-11 17:58] Swaraj-Singh-30 commented on #14
Will give it try. Tech will be simple HYML, CSS and JS

[2022-08-11 18:09] Swaraj-Singh-30 commented on #10
Alumni section is for the people who have tried the project and has given feedback. We can just post it: like if it can be a tweet , an IG post or soo

Regarding the easier version, YES I will make one

One thing @ykdojo IF you can tell me specifically we part you want simpler. For example like a simpler version of hero-banner, content page, Question and solution page or so....

Actually we can al

[2022-08-11 18:13] ykdojo commented on #14
@Swaraj-Singh-30 sounds good - thank you so much!!

[2022-08-11 18:16] ykdojo commented on #10
Yes! One by one sounds good.

The first step is the signup flow as I mentioned at #14, and then after that, maybe a submission box? We can store them privately for now (probably in Supabase or Firebase), and once we have a few, we can make a view for showing those questions.

[2022-08-11 19:14] VaibhavSinghDev commented on #14
Do you want the front end for login and signup?

[2022-08-11 21:34] ykdojo commented on #14
Yes! @Swaraj-Singh-30 might be making it though, I'm not sure.

[2022-08-11 23:01] khanhtranngoccva commented on #14
How about ReactJS though @ykdojo? I have never seen projects with both plain-JS and ReactJS before. 😅

[2022-08-12 00:00] ykdojo commented on #14
Yes it'll be ideal to have it in React / Next.

But if someone submits something in plain JS, I think we can still use parts of it, especially if it uses Tailwind (which we're planning to use for this)

[2022-08-12 01:36] swxstikk opened #24 "UI Mockup #1 for Questions Page"
An initial rough sketch of what the questions page of the website may look like. Attached is the initial rough sketch. I have numbered the boxes so I can provide more clarity regarding the functionality of each box and their purpose of why I have them included.

1) This could be a drop-down box where the user can select the specific company they want to view questions for or it could have an optio

[2022-08-12 01:42] Aryan-Deshpande commented on #6
Hey, I have just created a pr. Let me know if there is any feedback! would love to learn.

[2022-08-12 02:19] ykdojo commented on #14
@Swaraj-Singh-30 feel free to give it a try! we can convert it to Next.js + Tailwind later, too

[2022-08-12 02:27] ykdojo commented on #24
Thank you! It looks good. Great points.

I think it might be easier to see what it'll be like if you put it in something like Excalidraw, though?

[2022-08-12 02:28] ykdojo commented on #6
I'm not too familiar with this actually - @Pradumnasaraf, mind taking a look?

[2022-08-12 02:32] Swaraj-Singh-30 commented on #14
Okay Yk 👍🏻🔥

[2022-08-12 02:35] swxstikk commented on #24
Yupp. My next step is to get a visually appealing prototype of this UI for better clarity. I will post it here when I have finished working on it.

[2022-08-12 02:47] promisethedeveloper commented on #14
@ykdojo for the signup/logic form, would you want the user's information stored in a database yet? Or do you want the signup/login form without that functionality for now?

[2022-08-12 02:58] Pradumnasaraf commented on #6
Sure!

[2022-08-12 05:00] ykdojo commented on #14
Yes! We should start storing that info.

I think I’ll set up an account and a database in Supabase soon assuming we’ll go with it: https://github.com/ykdojo/defaang/discussions/23

But anyone can set up their own instance, and assuming it looks good, I can replicate that in my account, too.

[2022-08-12 06:28] ykdojo commented on #14
A bit more info on what's to come next: https://github.com/ykdojo/defaang/issues/10#issuecomment-1212334602

[2022-08-12 11:22] Pradumnasaraf commented on #6
Fixed in https://github.com/ykdojo/defaang/pull/25

[2022-08-12 11:22] #6 closed

[2022-08-12 13:27] Jonyango commented on #14
@Swaraj-Singh-30 @ykdojo I am familiar with Next.js and tailwind, and if you haven't started building, I can pick it up or provide some guidance.

[2022-08-12 13:40] Swaraj-Singh-30 commented on #14
Can you convert it into Next.js and tailwind?

[2022-08-12 13:57] Jonyango commented on #14
Yes

[2022-08-12 15:09] jideabdqudus commented on #14
I'll like to build the SignUp/Login using NextJS and AntD. Would this be a preferable stack?

[2022-08-12 15:17] Preet-Sojitra commented on #14
In my opinion first we should make only UI in Figma or any other software, if it gets approved, then we should code it, cause once the design is finalized then it will be more easy to code it.

[2022-08-12 15:29] Swaraj-Singh-30 commented on #14
I'm working on it from yesterday, will publish it.

[2022-08-12 16:56] ykdojo commented on #14
any reason to use AntD over Tailwind?

[2022-08-12 17:37] ykdojo opened #27 "Start with some boilerplate code for Next.js + Tailwind"
This is probably a good place to start since we don't have any code in this repo yet.

We can probably use this: https://github.com/vercel/next.js/tree/4d4f3093019179b1928ec07c16f38882241c0375/examples/with-tailwindcss

[2022-08-12 17:40] rohitdasu commented on #27
i can do this, please assign it to me

[2022-08-12 19:08] #27 closed

[2022-08-12 19:11] ykdojo opened #29 "Make sure the setup documentation works"
@rohitdasu created documentation on how to set up the local env in #28.

Another person should make sure that it works.

I'll do it when I get the chance, but if anyone else wants to take it before I get to it, feel free to do so.

[2022-08-12 19:15] rohitdasu commented on #29
@ykdojo can you please add `good first issue` tag to this issue if it make sense. It will be helpful for someone who wants to get started.

[2022-08-12 19:29] ykdojo commented on #14
Note: now that #28 is merged, we should be able to use that as a starting point for this issue.

[2022-08-12 19:32] ykdojo opened #30 "[DOCS] <Document how to deploy this to Vercel>"
Now that we have #28 merged, I think it'll make sense soon to document how to deploy it to Vercel.

[2022-08-12 19:34] Jonyango commented on #30
Is it okay if I take this up?

[2022-08-12 20:17] ykdojo commented on #30
Definitely! Of course.

[2022-08-12 20:18] #29 closed

[2022-08-12 20:34] ykdojo opened #33 "[FEATURE] <Connect it with Supabase>"
Assuming we go with [Supabase](https://github.com/ykdojo/defaang/discussions/23), we should make a connection to it from our frontend, and document how to set up a SB account/database with it.

For the initial version, we could have something really simple, maybe like a counter? As in, you click a button and the number increases by one, or something like that.

Alternatively, we can set up a user

[2022-08-12 20:51] #30 closed

[2022-08-12 20:56] Trowl3r commented on #33
Hey,
I would like to take this as my first ticket, if it is still open. If it's okay, I would make a simple signup/ login form wo any big stylings for the start that creates/login the user to Supabase

[2022-08-12 21:01] ykdojo commented on #33
Yes! That sounds perfect - thank you so much

[2022-08-12 21:16] Trowl3r commented on #33
Just to make it clear: it should make auithenticate the user via supabase, right? Because I am a little confused with  [this issue](https://github.com/ykdojo/defaang/issues/14) right now, but I'll assume this is just for the styling and not for login right? Or did I get something completly wrong?

[2022-08-12 21:21] ykdojo commented on #33
Yes, correct. Thank you for clarifying it

[2022-08-13 00:56] jideabdqudus commented on #14
Suggested AntD because of the amount of readily made components that could be used, Tailwind works too. But it's a preference

[2022-08-13 03:15] Karthik-315 commented on #14
Would it be ok, if I submit here, a Figma design for login / sign-up, here? I see that @Swaraj-Singh-30 is working on it, so don't want to interfere...

[2022-08-13 04:03] ykdojo commented on #14
Yes! I think @Swaraj-Singh-30 is working on a plain JS version, so it's ok to have a Figma, too

[2022-08-13 04:17] Karthik-315 commented on #14
Cool! So here's a rough design I made: [Figma Design](https://www.figma.com/file/uYiv3KebAnh7n60Ifz2UJ2/Defaang-Sign-In-%2F-Sign-Up?node-id=0%3A1). I've put in Login and Sign up in separate pages.

Take a look and feel free to let me know your suggestions. Also, if you need access to the file, let me know.

[2022-08-13 05:17] Preet-Sojitra commented on #14
Looks good 👍

[2022-08-13 08:09] Sanskar-khandelwal commented on #14
Hey, everything looks super good, just a  suggestion that back sign, Can be a little thin, try using a iconify icon instead of that

[2022-08-13 08:47] rohitdasu opened #37 "[FEATURE] <let's follow semantic commits>"
### Description

As we have started coding, we should use semantic commits. It helps a lot to reviewers who reviews the code, as well as the developer. It builds a good habit which makes us a better developer.

Ref: https://gist.github.com/joshbuchea/6f47e86d2510bce28f8e7f42ae84c716

### Screenshots

_No response_

[2022-08-13 08:48] rohitdasu commented on #37
@ykdojo would love to know your opinion on this.

[2022-08-13 09:43] Karthik-315 commented on #14
Fair point, I've changed it with a slimmer one. Thanks for your suggestion!

[2022-08-13 10:27] rohitdasu opened #39 "[DOCS] <keep everything simple, let's stick to npm for now>"
### Description

let's keep the instructions for running the frontend simple, so keep npm instructions only.

### Screenshots

_No response_

[2022-08-13 10:36] subhoghoshX opened #40 "Update dependencies"
The dependencies are little behind the latest and we should use a specific version instead of `"next": "latest",` in package.json

[2022-08-13 10:38] subhoghoshX commented on #40
I'm self assigning this to myself.

[2022-08-13 10:59] rohitdasu commented on #39
as we discussed let's keep npm related instructions only in the documentation.

[2022-08-13 11:12] subhoghoshX commented on #40
Just noticed package.json and package-lock.json not seemed to be in sync. I'll send a PR fixing everything mentioned in this issue.

[2022-08-13 16:46] ykdojo commented on #37
Yes it seems like a good convention to follow?

[2022-08-13 16:49] rohitdasu commented on #37
yeah, it will be more readable and we can know what's the commit do at first glance

[2022-08-13 16:49] ykdojo commented on #14
Looks good! I feel like we can experiment with different colors, though.

Also, I was thinking we can start with a light mode so it's more welcoming to everyone. What do you think?

[2022-08-13 16:51] #40 closed

[2022-08-13 16:53] rohitdasu commented on #39
closing this issue as it fixed now 🍻

[2022-08-13 16:53] #39 closed

[2022-08-13 16:57] ykdojo commented on #37
@rohitdasu do you have the perm to turn this into an announcement in discussions?

Or maybe you can send a PR to add it to the README?

[2022-08-13 16:59] ykdojo opened #43 "Remove the screenshot section from the new issue template"
I noticed almost all new issues don't have screenshots attached to them.

So we should probably remove the screenshot section from the new issue template so it doesn't clutter the new issues being created.

[2022-08-13 17:00] ykdojo opened #44 "Add a new issue template for DX improvements / refactoring"
DX = developer experience

[2022-08-13 17:02] Preet-Sojitra commented on #14
Yes starting with light mode is good idea, then at later stage we can add functionality of switching between dark and light mode

[2022-08-13 17:11] AdityaPainuli opened #45 "Doubt"
### Description

Is this a brand new web application or do you guys implement something into cause when I cloned it . I am seeing a clean project with default screen.. I am new to open source and want to contribute.

### Screenshots

_No response_

[2022-08-13 17:12] Preet-Sojitra commented on #43
I am ready to take this issue

[2022-08-13 17:15] Preet-Sojitra commented on #45
By clean project you mean no issues and pull requests are showing?

[2022-08-13 17:15] ykdojo commented on #43
Sounds good!

[2022-08-13 17:16] rohitdasu commented on #37
@ykdojo i don't have the perm to turn this into an announcement 😔
But i will create a PR to add it to README.md file and i think README.MD is better place to keep this 😃

[2022-08-13 17:39] #43 closed

[2022-08-13 17:40] ykdojo commented on #45
Yes it is going to be a brand new web app

[2022-08-13 17:47] ykdojo commented on #37
@rohitdasu sounds good!

Only one suggestion though: I really don't like the "chore" label. I think it's okay to use it from time to time, but a lot of times, it seems like they're really for DX (dev experience) improvements. Can we use *dx* for those?

[2022-08-13 17:49] Karthik-315 commented on #14
Noted your points, will design for light mode too.

[2022-08-13 17:49] ykdojo opened #48 "[FEATURE] <Explain this project on the "production site">"
### Description

We deploy this site to Vercel [here](https://defaang.vercel.app/), but it's just a starter template, and it doesn't say anything about the project.

Some people might be confused about that: #45

It'd be good to explain what this project is about there, even if it's a temporary thing.

[2022-08-13 17:50] Karthik-315 commented on #14
Apart from color scheme, does anything else needs improvising, you think? Like the form elements?

[2022-08-13 17:52] ykdojo opened #49 "Remove the DESCRIPTION label from the issue template"
Since we removed the screenshot section in #43 and #46, we only have the description label in our issue templates for features and documentation.

Now that we've done that, the description label is redundant and unnecessary.

It'd be cleaner to remove it.

[2022-08-13 17:53] rohitdasu commented on #37
what about keeping both? chore and dx? we can chose what suits better according to the PR / Commit
@ykdojo what's your opinion on this? but i'm open to replace "chore" with "dx" 👍

[2022-08-13 17:55] Karthik-315 commented on #14
Apart from color scheme, what is your opinion on the other elements,  like the form elements and such, looks good?

[2022-08-13 17:55] #45 closed

[2022-08-13 17:58] ykdojo opened #50 "[DX] <Vercel bot going rogue>"
The Vercel bot started acting out and keeps asking me to authorize some stuff:

<img width="1008" alt="image" src="https://user-images.githubusercontent.com/1811651/184505420-c98d3c61-dbf3-42ba-8992-409914ca094d.png">

We should probably contact them and ask them what's going on, or I'll look into it some more.

[2022-08-13 17:59] Swaraj-Singh-30 commented on #14
Hello folks this is to inform y'all that since I won't be able to complete the login/sign up part, somebody else can take the part.

[2022-08-13 18:01] ykdojo commented on #37
@rohitdasu yes keeping both sounds good!

[2022-08-13 18:02] rohitdasu commented on #37
cool

[2022-08-13 18:18] ykdojo opened #51 "[FEATURE] <Better sign up flow>"
### Description

When a user signs up at /signup, confirming the email is required. I think we should make that clear.

Also, we should probably add some info about how to find the signup page (/signup) and the signin page (/signin) either on the site itself or in README.

[2022-08-13 18:19] Swaraj-Singh-30 commented on #48
Something like this?

[2022-08-13 18:34] Jonyango commented on #49
@ykdojo Could you please point me to where the issue template is? Can't seem to find it.

[2022-08-13 18:35] rohitdasu commented on #44
@ykdojo you can assign this to me, i can do it. but lets discuss what fields should be there? are we going to keep it like other templates?

[2022-08-13 18:35] Jonyango commented on #49
It is okay. I have found it.

[2022-08-13 18:37] ykdojo commented on #14
@Karthik-315 I think everything else looks good!

[2022-08-13 18:38] ykdojo commented on #48
I think what we have in #52 is good for now

[2022-08-13 18:41] #37 closed

[2022-08-13 18:45] #48 closed

[2022-08-13 18:48] ykdojo commented on #44
@rohitdasu keeping it like other templates sounds good.

keep in mind that we have #49 too

[2022-08-13 18:49] #33 closed

[2022-08-13 18:50] Trowl3r commented on #51
I would like to take this one on aswell. Little Idea: Maybe make a section with all the current pages in the README with all their corresponding .tsx files, aslong as we don't have a navbar?

[2022-08-13 18:50] ykdojo commented on #10
Closing this as I think @Swaraj-Singh-30's going to be busy for a while.

[2022-08-13 18:50] #10 closed

[2022-08-13 18:51] Jonyango commented on #49
@ykdojo I worked on this issue, and changes were merged with this PR #52. I didn't know I have to wait for a PR to be merged before I can push changes for a second PR. It is the last commit of that PR.

[2022-08-13 18:51] subhoghoshX opened #54 "[DOCS] <Improve the documentation>"
###

I think the doc can be improve in many ways.
- Use semantic ordered list for the instructions, instead of `#1` or `#2`
- Remove the comments which are in parentheses. As, if you click on the copy button, they also get copied. Bad UX.
- Add steps like `cd <project-directory>` to remove any confusion

For reference here's how tailwindcss.com does it.

![image](https://user-images.githubusercont

[2022-08-13 18:52] subhoghoshX commented on #54
I'd like to work on it. @ykdojo could you assign me this

[2022-08-13 18:55] rohitdasu commented on #44
Sure

[2022-08-13 19:15] Dun-sin commented on #50
Actually it's not acting rouge, it's happening because pull request are made from people who don't have access to this repo, you are the only one who does have access to this repo and it's deployment so it's letting you know that someone else is trying to deploy something without your permission.

[2022-08-13 23:36] ykdojo commented on #51
Sounds good! Having a navbar (or any other way of navigation) might be a good solution, also.

[2022-08-13 23:45] ykdojo opened #58 "[BUG] <Fix the features issue template>"
### Description

The features issue template is no longer working, maybe after #46.

### Screenshots

<img width="933" alt="image" src="https://user-images.githubusercontent.com/1811651/184516867-53a2d7e9-b4d7-433c-8608-99b14efc5297.png">

[2022-08-13 23:46] #16 closed

[2022-08-13 23:52] ykdojo opened #59 "[FEATURE] <A question submission box> (frontend)"
Quoting myself from #10:

This should be possible to implement as we have #33 and #34 implemented already.

[2022-08-13 23:54] ykdojo commented on #49
@Jonyango it's all good. We have #58 now though.

[2022-08-14 03:36] AdityaPainuli commented on #45
yeah ok I got it just pushed my PR for the first time in the project .. let's see what happen

[2022-08-14 04:01] ykdojo opened #63 "[DX] <Remove the unnecessary checklist out of the PR template>"
The current PR template has this checklist:

Check List (Check all the applicable boxes)
- My code follows the code style of this project.
- This PR does not contain plagiarized content.
- The title of my pull request is a short description of the requested changes.

Shouldn't all of these be pretty obvious without explicitly asking the contributors to check them?

Plus, we don't have a code style

[2022-08-14 04:04] ykdojo commented on #58
I think #60 fixed it

[2022-08-14 04:04] #58 closed

[2022-08-14 06:15] AdityaPainuli opened #66 "Authentication related request"
### Description

I think as we are using the next js we should use the next auth for the authentication parts. I think it will be easy and maintainable if we use it. Let me know what you think about it.

[2022-08-14 10:30] mark-omarov commented on #59
Hi @ykdojo , how do you imagine the submission box to look like?
Also, what kind of features do you expect it to have? Is there a mockup or some kind of functional spec document?

[2022-08-14 11:53] Preet-Sojitra commented on #59
Currently we have this #24

[2022-08-14 13:44] Sadeedpv opened #71 "[DX] <Add a Contriubting.md file explaining all the contributing guidelines>"
### Description

Try to add a contriubting.md file explaining all the contributing guidelines.

[2022-08-14 14:45] jideabdqudus commented on #14
What's the update on this? Is anyone working on it or I can pick it up?

[2022-08-14 14:58] jideabdqudus commented on #14
Looks good mate, one thing I'll like to confirm is why is there a back sign on the auth screen, (especially on desktop mode) where does clicking on back lead to?

[2022-08-14 17:15] Karthik-315 commented on #14
The back button is just another way to navigate to the home page.

I think based on the design of the landing page, this can be removed, if there is a link to redirect to home page on the Navbar.

[2022-08-14 17:33] ykdojo commented on #66
Why not keep using Supabase auth for this?

[2022-08-14 17:35] ykdojo commented on #54
It looks like it didn't show up on the commit history?

[2022-08-14 17:37] ykdojo commented on #59
We should probably have the fields:

- Company (FAANG+, or a custom textbox)
- Location
- Date
- Question
- Question description
- Stay anonymous (check box)

Anything else?

[2022-08-14 17:47] #63 closed

[2022-08-14 17:51] ykdojo commented on #14
Sounds good - I'm not sure about navbar, though. (No strong opinion either way right now)

[2022-08-14 17:51] subhoghoshX commented on #54
Yes, because I discarded the commit and closed the PR. I send another PR.

[2022-08-14 18:00] #54 closed

[2022-08-14 18:01] #44 closed

[2022-08-14 18:01] ykdojo commented on #49
Maybe there's no way to do it? If so, I'll just close this issue.

[2022-08-14 18:10] AdityaPainuli commented on #66
it's okay to keep using it

[2022-08-14 18:10] #66 closed

[2022-08-14 19:26] Jonyango commented on #59
What if we have a question category? I think it will be good to know what questions are company is mostly focused on.

[2022-08-14 19:29] Jonyango commented on #59
Would defaang be focusing on DSA questions, or will it also consist of system design and behavioural questions? @ykdojo

[2022-08-14 19:32] ykdojo commented on #71
changed the title label from FEATURE -> DX btw

[2022-08-14 19:51] ykdojo commented on #59
Having a question category sounds good.

Also forgot: the position name.

[2022-08-14 19:54] ykdojo commented on #59
defaang will do both.

but I bet a lot of the questions will cover DSA

[2022-08-14 19:55] Jonyango commented on #59
That makes sense.

[2022-08-14 19:58] Jonyango commented on #59
If no one is working on this. I would love to take it. I haven't used Typescript before, but I believe I can make this work. Would you please assign this to me?

[2022-08-14 20:02] ykdojo opened #74 "[FEATURE] <Show questions>"
### Description

Assuming we have #59, we should be able to show the questions on the UI.

[2022-08-14 20:14] ykdojo opened #75 "[FEATURE] <Mods approve questions>"
### Description

Mods (once we have them) should be able to approve questions so that they can be shown on the UI.

Showing questions without approving them first, at least at the beginning, is probably a bad idea because we'll have low quality submissions, spams, etc.

[2022-08-14 20:37] Dun-sin opened #76 "[DX] Github action for deployment"
### Description

**_Problem_**: Right now every pull request tries to get deployed to production by vercel, but we don't want this

**_Solution_**: create a Github action to automate deployment only if the pull request has been merged

**_Related Discussion_**:The Vercel bot started acting out and keeps asking me to authorize some stuff:

<img width="1008" alt="image" src="https://user-images.gith

[2022-08-14 20:49] SrPanquesito commented on #14
Hello. I would like to contribute to the UI in this part as well.

@jideabdqudus  can we work together on it?

[2022-08-14 21:09] ykdojo commented on #14
Cool! Keep in mind that there's this open PR, too: #64

But pls feel free to contribute where you see fit!

[2022-08-14 21:49] SrPanquesito commented on #14
Thanks. I've just cloned his repo and saw the changes. It seems he's following a different design from the proposed one in this thread.

I was thinking about following the [Figma Design](https://www.figma.com/file/uYiv3KebAnh7n60Ifz2UJ2/Defaang-Sign-In-%2F-Sign-Up?node-id=0%3A1) but should I wait for his PR to be merged?

[2022-08-14 22:07] ykdojo commented on #14
Following the Figma design sounds good. #64 is good for now since we don't have a logo yet, though. It'll probably also needs some refining, too.

I think one option is to fork that PR and start making some progress there? Then once #64 is merged, then you can send your PR?

[2022-08-14 22:17] Jonyango commented on #59
@ykdojo Is the position the job title such as software engineer, or is it the levels such as L3?

[2022-08-14 22:22] ykdojo commented on #59
The job title. Software Engineer, Site Reliability Engineer, Senior Software Engineer, etc.

[2022-08-14 22:23] Jonyango commented on #59
![subscription box](https://user-images.githubusercontent.com/43377714/184556947-59e6e144-ae06-47d9-b691-d0b7d93bb466.PNG)
- This is what I currently have. I am yet to connect it to superbase. Feel free to suggest changes and improvements. @ykdojo @rohitdasu @subhoghoshX @iShibi

[2022-08-14 22:26] ykdojo commented on #59
Look good! I think the only required fields should be: Company and Question?

Now that I think about it, I'm not sure if we need the date for it since it'll be recorded anyway.

Maybe instead, it should ask "How recently was this question asked? Within the past: 1 month (default choice)" - and let the user pick any other # of months?

[2022-08-14 22:28] Jonyango commented on #59
That sounds okay. I will make the necessary changes.

[2022-08-14 23:05] Caesarsage commented on #71
anyone working on this already ?

[2022-08-14 23:28] jideabdqudus commented on #71
I am

[2022-08-14 23:32] Caesarsage commented on #71
Alright 👍

[2022-08-15 00:35] jideabdqudus commented on #71
There's now an Open PR that fixes this issue: https://github.com/ykdojo/defaang/pull/78

[2022-08-15 01:06] iShibi commented on #76
This is just vercel trying to be secure by default and it can be fixed by turning off [git-fork-protection](https://vercel.com/docs/concepts/projects/overview#git-fork-protection) in the project settings:

![vercel](https://user-images.githubusercontent.com/51517103/184562138-89dfbd0a-2d4f-43bf-8e94-3b77646fad4f.png)

@ykdojo

[2022-08-15 04:34] ShaileshParmar11 commented on #74
do we have any rough mock for the same?

[2022-08-15 04:37] ykdojo commented on #76
Hmm interesting. Do you think it's safe to turn it off @iShibi?

[2022-08-15 04:41] ykdojo commented on #74
I don't think we do - unless we have something in #10

[2022-08-15 04:42] iShibi commented on #76
If you have set secrets in `Environment Variables` on vercel then I'll say keep it enabled and allow it to run on each PR after checking its changes. This would be time consuming but a safer option.

[2022-08-15 04:43] MisterMunchkin commented on #75
Hi! So we would probably need to have an admin page that can assign Mods right? and then have tags on the questions so we know if its still under review for Mods or if its public

[2022-08-15 04:47] Dun-sin commented on #76
If you want to look at a similar Github action [here it is](https://github.com/Dun-sin/trick-generator/blob/main/.github/workflows/deployment.yml)

[2022-08-15 04:51] ykdojo commented on #75
Yes, something like that.

To assign mods, we should be able to do it on Supabase itself (like is_mod = true in the database)

[2022-08-15 04:57] ykdojo commented on #76
@Dun-sin hmm when something is merged into main, it's already deployed into the main Vercel instance. So I'm not sure if that's necessary actually

[2022-08-15 04:58] iShibi commented on #76
It's not about automating. The said GitHub action will do the same thing that vercel is doing currently. It's about securing secrets stored in the environment variable. Someone can open a PR to get those secrets and we will be too late to do anything as the CI will build it automatically. On per PR basis we can first check that the PR is not doing anything with the secrets and then authorize the b

[2022-08-15 05:01] Dun-sin commented on #76
I know, personally I thought the issue to the bot giving those warnings is because it was getting from a branch.

So I created a Github action to make vercel not deploy in any branch unless it's the main one.

It fixed the issue without me having to turn off the protection in vercel itself

[2022-08-15 05:05] ykdojo commented on #76
Ah I see.

Still from my perspective, it is really convenient to be able to review the changes on a Vercel instance. As you mentioned, it's good for reviewing things visually

[2022-08-15 06:29] Dun-sin commented on #76
Yes, it doesn't take away the preview part of things. Just holds up the actual deployment until merged into main

[2022-08-15 06:37] Preet-Sojitra opened #82 "[FEATURE] <Decide color palette for the website>"
### Description

I think we should decide the color palette for the website, so that people who working on UI make UI using those colors.
Also if we have fixed color palette then different different people who are working on UI won't come with the own color palettes.
So let's asks contributors to come up with their own color palette and decide one good color palette out from it.

Well there are ma

[2022-08-15 06:46] ykdojo commented on #82
I think it might be helpful if you could suggest a few different options both for light and dark themes?

We have a little bit of that discussion started already here: https://github.com/ykdojo/defaang/issues/14#issuecomment-1214188458

[2022-08-15 06:50] rohitdasu opened #83 "[FEATURE] <update landing page to look good and change title>"
### Description

Update the landing page/home page to look better and change the title from "Defaang" to "defaang"

[2022-08-15 06:59] RakeshSangem opened #84 "[FEATURE] add GitPod button to README.md file"
### Description

Setting up the project on a local machine is never fun. So I recently learned about GitPod, a pretty great service that allows us to work and contribute to projects directly from the browser.

Therefore, I want to include the GitPod button in this project.

[2022-08-15 07:12] ykdojo commented on #84
Sounds good! I don't think it's by GitHub though. I think it's an independent company

[2022-08-15 07:17] RakeshSangem commented on #84
My mistake—I mistakenly believed it to be from GitHub.
I appreciate you letting me know.

[2022-08-15 07:41] Karthik-315 commented on #14
I've also added a light mode option to the design.

 If we all agree on a different color scheme later, this can be changed.

[2022-08-15 08:05] Preet-Sojitra commented on #82
Well these are some of the palettes generated by [Huemint](https://huemint.com/).
Light theme color palette:
- https://huemint.com/website-magazine/#palette=fffdf9-fe845a-091a38-3c4f9a
- https://huemint.com/website-magazine/#palette=fefefe-f8d799-18160d-d8252c
- https://huemint.com/website-magazine/#palette=e9e7e0-fcb77c-0c100f-8d4fb3
- https://huemint.com/website-magazine/#palette=fffffd-77bbdb-0

[2022-08-15 08:07] ykdojo commented on #82
Any 2-3 of them that you'd recommend?

[2022-08-15 08:11] Preet-Sojitra commented on #82
I will filter it out and let you know soon 👍

[2022-08-15 10:29] AdityaPainuli opened #85 "[FEATURE] <Adding different way for authentication.>"
### Description

Can I start working on the authentication part of the sign-in and sign-up page and what are the platforms we will allow the user to authenticate themselves?

[2022-08-15 10:43] Preet-Sojitra commented on #82
For light would, I would recommend 4,5 and 6

And for Dark mode I would recommend
1 and 2

[2022-08-15 11:19] subhoghoshX commented on #59
LGTM. Make sure to add the "stay anonymous" checkbox as well. And I think the Category can also be a dropdown menu.

[2022-08-15 11:36] rohitdasu commented on #85
Hi @AdityaPainuli thanks for raising this issue. We will definitely need social authentication as nowadays most users do authentication using social medias. In my opinion let's do with 'Google' and 'Github'.
Would love your suggestion @ykdojo

[2022-08-15 11:40] RakeshSangem commented on #85
I also believe that GitHub and Google are sufficient for authentication.

[2022-08-15 14:42] #83 closed

[2022-08-15 15:58] jideabdqudus commented on #82
For light mode, I'll recommend 2,4, 5
I think dark mode, is just inverting the light mode. So depending on the choice of light mode, we can decide on the darkmode theme.

[2022-08-15 16:27] AdityaPainuli commented on #85
I will start working on this feature soon.

[2022-08-15 16:56] ykdojo commented on #82
4 looks pretty good for lightmode. I don't want to be the only one making the decision though - maybe we can wait for other people to pitch in their opinions.

For dark mode, I'm not sure yet...

[2022-08-15 17:08] AdityaPainuli commented on #82
I would recommend doing some more searches for dark mode as most of the people might use dark mode only from all of the above I think 1st one for the dark mode is best compared to all of them but we should try to find something better for the dark mode.

[2022-08-15 17:11] Dhruv-Gajjar commented on #82
I think 4 is pretty good for light mode 👍🏻.

[2022-08-15 17:15] rohitdasu opened #89 "[DOCS] Complete all community guidelines"
### Description

Let's add missing docs.

https://github.com/ykdojo/defaang/community

<img width="953" alt="Screenshot 2022-08-15 at 10 42 25 PM" src="https://user-images.githubusercontent.com/48400770/184683099-2d3c5278-0954-4376-bffc-e4ed15d87092.png">

[2022-08-16 02:30] makyfj commented on #85
@AdityaPainuli are you planning to use https://next-auth.js.org/ for auth?

[2022-08-16 02:33] AdityaPainuli commented on #85
No, I am using supebase authentication I think it will be good to use only the stack or packages which are really needed.

[2022-08-16 03:20] mark-omarov commented on #75
Do we actually want the admin page to be a part of the frontend for the defaang main website? Or do you guys think it might be a good idea to separate concerns, and have an admin page as separate, internal tooling? With its own authentication mechanism.

[2022-08-16 03:29] mark-omarov commented on #84
I believe [GitHub Codespaces](https://github.com/features/codespaces) is similar to that.
It's fine by me, as long as it's not enforced, not every developer would like to use a VSCode-based editor, even if it's in the cloud. I'd prefer to keep my WebStorm around, for example. 😄

[2022-08-16 12:20] Halim-Shams commented on #82
I recommend 4 for light mode and 1 for dark mode. Because there is more relativity between those two Modes.

[2022-08-16 13:02] vrindavan commented on #14
Hey, is there anyone working on a Dark Mode right now?

[2022-08-16 13:20] MisterMunchkin commented on #75
separate admin page I think would be better, also would keep bloat off the main site. thoughts @ykdojo ?

[2022-08-16 15:45] rohitdasu opened #93 "[DX] add Hotjar for getting user feedback and issue tracking"
### Description

We are not live yet, but it's a good idea to add Hotjar script that will help analyse our apps performance and get feedbacks when we get to Beta or similar kind of stage.

Would love to know your suggestion.

[2022-08-16 15:59] yaa-chi commented on #10
@Swaraj-Singh-30  this is amazing! I love it! But what about the sign-up/login-in page? Should I create that?

[2022-08-16 17:48] ykdojo commented on #14
@vrindavan I don't think so? Unless @Karthik-315 is

Also we should decide on a dark mode color palette at #82

[2022-08-16 17:50] ykdojo commented on #75
I don't have a strong preference on either option.

A separate internal tooling might be interesting though - maybe with Django.

I specifically mention Django because some people said they know Python but not JS, so it'd be a nice way for them to contribute potentially.

[2022-08-16 18:05] ykdojo commented on #75
<img width="767" alt="image" src="https://user-images.githubusercontent.com/1811651/184948504-ce08a2b4-f83e-416c-9781-d8455a1cb6d8.png">

[2022-08-16 18:07] ykdojo commented on #93
How about something simpler like [Plausible](https://plausible.io/)?

[2022-08-16 18:08] ykdojo commented on #10
@yaa-chi you should!

keep in mind we already have #88

[2022-08-16 18:11] rohitdasu commented on #93
it's nice and open-sourced. but it has no free version. Gives 30 days trial though.

[2022-08-16 18:14] ykdojo commented on #93
The pricing seems reasonable, so I wouldn't mind paying for it

[2022-08-16 18:19] rohitdasu commented on #93
cool then, we can proceed with this 👍

[2022-08-17 02:17] Swaraj-Singh-30 commented on #10
Yes! Actually while making the wireframe I had to totally forgotten about login page.

You can check out #14

[2022-08-17 02:18] Swaraj-Singh-30 commented on #10
In

Yes! Actually while making the wireframe I had totally forgotten about login page.

You can check out #14 too

[2022-08-17 11:40] yaa-chi commented on #10
Sure, will check it out now⚡

[2022-08-17 15:04] pushkaraj2007 commented on #51
I think we should do that with a npm package called 'nodemailer', for confirming the mail.

What do you think?

[2022-08-17 15:10] pushkaraj2007 commented on #51
I think we should do that with a package called 'nodemailer', for confirming the mail of users.

What do you think?

[2022-08-17 15:13] pushkaraj2007 commented on #51
I think we should use a package called 'nodemailer', for confirming the mail of users.

What do you think?

[2022-08-17 15:49] ykdojo commented on #51
We're using Supabase right now, but that could definitely be an option maybe with NextAuth.

What would be the pros and cons of that approach?

[2022-08-17 16:09] pushkaraj2007 commented on #51
As of I didn't worked much with supabase.

But if I talk about nodemailer, then I think it's a great library to send emails with ease.

Where you can send emails with just some lines of code like 15 - 20 and its fast as well.

The fall back is you can only authenticate the user by email. If you want to add other authentication options like google, GitHub then you have to add them by another method

[2022-08-17 16:32] #76 closed

[2022-08-17 16:36] ykdojo commented on #14
I'm going to close this for now since we have working signup/login views.

[2022-08-17 16:36] #14 closed

[2022-08-17 16:58] ykdojo commented on #59
@Jonyango I'm not sure where you are on your progress, but I'm thinking of adding my contributions here.

In particular, I'm thinking of:

- Simplifying the submission box somehow
- Making it look good and attractive (and safe) for people to use it

[2022-08-17 17:34] ykdojo commented on #59
The required fields:

- Company (FAANG+, or a custom textbox)
- Location
- Date (how long ago was this asked?)
- Question (100 char max?)
- Question details
- Stay anonymous (checkbox)

[2022-08-17 17:36] ykdojo commented on #59
On *stay anonymous*, have a tooltip that says something like:

"This question will be associated with your account, but your account will not be shown publicly if this is checked. Later, you'll have an option to un-associate the question from your account completely so it won't even be on record."

[2022-08-17 17:38] ykdojo opened #95 "[FEATURE] <Generate a username when a user signs up>"
### Description

We should generate a username when a user signs up, and we should have an option for them to change it.

[2022-08-17 18:46] ykdojo opened #97 "[DOCS] <Add a link to the kanban project board on README>"
### Description

https://github.com/users/ykdojo/projects/1

[2022-08-17 20:49] yaa-chi commented on #82
@Preet-Sojitra thanks a bunch for the colors! They look amazing. And yes I do love 4 for the light mode. Because it also has elements of dark mode within it. I'll send a link to show you guys what I mean😉

[2022-08-17 21:55] yaa-chi commented on #82
Here's a link to the color palette chosen for light mode and a re-arrangement for dark mode. I'll design a simple here section to show you how it will look in action.

the link: https://www.figma.com/file/BMHpagkuDfPNskxak5gQqA/Brand-Guide?node-id=0%3A1

[2022-08-17 22:20] ykdojo commented on #82
@yaa-chi thank you! Looks really cool.

Any chance you could put the dark mode one in the same format as [Option 4 from above](https://huemint.com/website-magazine/#palette=fffffd-77bbdb-081430-44a2d2) so we can get a better idea about what it might look like?

[2022-08-17 22:21] yaa-chi commented on #82
Thanksss!! 🤩🏹And yes, I'm currently designing a demo for you guys to check it out as well!

[2022-08-17 23:29] makyfj commented on #97
@ykdojo I would like to work on that.

[2022-08-18 04:38] ykdojo commented on #97
@makyfj sounds good!

[2022-08-18 08:10] Jonyango commented on #59
Hey @ykdojo. I made the changes suggested on Sunday, but I haven't made much progress since then(Would get back on this on Friday).  Would you like for me to incorporate the new changes you have suggested? Having some sort of design would be helpful here so that I can recreate it faster. I saw that you pointed @chinaa to help us with the design here.

[2022-08-18 10:11] yaa-chi commented on #82
@ykdojo Have a look at a little demo I just designed. Had to do it this morning.

And everyone as well, do let me know what you think🙌🏾🎯

https://www.figma.com/file/BMHpagkuDfPNskxak5gQqA/Brand-Guide?node-id=0%3A1

[2022-08-18 10:32] Preet-Sojitra commented on #82
It's looking good 😍

[2022-08-18 10:34] yaa-chi commented on #82
Thank youuu @Preet-Sojitra 😍... This particular dark mode color palette was gotten from the one that everyone loved. The light mode that you suggested!

[2022-08-18 10:37] yaa-chi commented on #59
Hi @Jonyango I have actually started with the design. Do check it out here: https://github.com/ykdojo/defaang/issues/82#issuecomment-1219305334

I am currently waiting for everyone to approve of it before We continue to the brand style guide.

[2022-08-18 14:58] ykdojo commented on #82
@yaa-chi I like it!

I'm wondering if you could make the contract slightly higher though? Maybe with a slightly brighter color on the text.

I'm thinking of situations like older screens, less bright screens, people looking at it on their phone in a bright room, etc.

[2022-08-18 15:02] yaa-chi commented on #82
Thanksss! 🤩

Sure, absolutely will wok on the contrast asap!

[2022-08-18 15:41] ykdojo commented on #59
@Jonyango yes! thank you.

Mind keeping us updated on your progress here as you work on it?

That way, I'll know where to potentially jump in, or maybe work on another area of the site, etc.

[2022-08-18 16:40] yaa-chi commented on #82
Hi @ykdojo I have updated the color contrast. Do let me know what you think so that we can proceed asap🤩

[2022-08-18 16:44] ykdojo commented on #82
Hmm maybe even more contrast... what do you think of using white text?

[2022-08-18 16:45] yaa-chi commented on #59
Sure that's fine! @ykdojo I'm currently heading towards the logo design. We're done with color palette for both light and dark mode.

After the logo we're gonna go in with the font, and then finally the website layout for all screens.

[2022-08-18 16:45] ykdojo commented on #82
I'm looking at Tailwind's website, for example
<img width="1494" alt="image" src="https://user-images.githubusercontent.com/1811651/185449971-d9076bda-518e-4530-8aed-98a442d8acc5.png">

[2022-08-18 16:46] yaa-chi commented on #82
@ykdojo yeahhh, they used white color for the text and grey for the subtitles and message plus the navigation bar. Do you want that/

[2022-08-18 16:59] ykdojo commented on #59
Sounds good! For the website layout, could you keep [Tailwind UI](https://github.com/ykdojo/defaang/discussions/98) in mind as you go about it?

[2022-08-18 17:00] yaa-chi commented on #59
Sure I will, both light and dark mode. I think it's better now that we have a direct inspiration of how the website will look like⚡🎉

[2022-08-18 17:01] ykdojo commented on #82
Yes! I think something like that would work well for better readability. I'm starting to notice that GitHub has the same type of color scheme too - white for the main text and grey for other things.

[2022-08-18 17:39] yaa-chi commented on #82
Awesome, I'm gonna implement those color schemes asap!

[2022-08-18 19:13] yung-coder commented on #95
Yeah, I think we can use an npm package unique-username-generator that can generate a username from email by adding some random digits or totally generate a random username ......

[2022-08-18 20:49] Jonyango commented on #59
Yes, I will do that.

[2022-08-19 00:25] ykdojo commented on #59
@Jonyango just FYI, I think I'm going to try implementing this with [Tailwind UI](https://github.com/ykdojo/defaang/discussions/98) - in particular this one called [simple stacked](https://tailwindui.com/components/application-ui/forms/form-layouts#component-30dffb06e58cdbe872820ed3f943d85a).

I'll keep updating this thread as I produce code so we don't duplicate work.

[2022-08-19 00:37] ykdojo commented on #59
I just got [the Application UI package](https://tailwindui.com/components#product-application-ui)!

Let me know if anyone wants to use any of the components.

[2022-08-19 00:40] ykdojo opened #100 "[FEATURE] <Rewrite the signup/signin view with Tailwind UI>"
### Description

We're most likely going to start using [Tailwind UI](https://github.com/ykdojo/defaang/discussions/98) for this project.

So we should rewrite the signup/singin view with maybe [this one](https://tailwindui.com/components/application-ui/forms/sign-in-forms#component-fef1d7e9849359af76d4d6ead796938b).

[2022-08-19 08:34] AdityaPainuli commented on #95
Picking up a unique username is all good just a suggestion we can also use a random avatar as their profile pic. If it sounds good to all of you.

[2022-08-19 09:09] yung-coder commented on #95
The avatar thing is great and should be put on consideration....

[2022-08-19 09:56] yaa-chi commented on #59
Really? The premium one?😍

[2022-08-19 16:35] ykdojo commented on #59
This one: <img width="547" alt="image" src="https://user-images.githubusercontent.com/1811651/185665984-76ddede7-a24d-463a-bcd7-7f50e086088a.png">
https://tailwindui.com/components#pricing

[2022-08-19 18:22] ykdojo commented on #59
I have a draft PR here - feel free to work off of it if anyone feels like it while I'm away: https://github.com/ykdojo/defaang/pull/105

[2022-08-19 19:46] yaa-chi commented on #59
YK please what's a draft PR😂😂

[2022-08-19 20:44] ykdojo commented on #59
It's just a way to show your code changes, but you're not to have it be reviewed!

[2022-08-19 20:55] yaa-chi commented on #59
oh ok, that's great! Github is really cool I'm learning a lot!

[2022-08-19 23:31] codeknight1 opened #106 "Hi"
Hi ykdogo, looking forward to work along you...

[2022-08-19 23:37] ykdojo commented on #106
Hi, thank you. Feel free to join us on Discord and say hi (should be in README)

[2022-08-19 23:37] #106 closed

[2022-08-20 04:03] AdityaPainuli commented on #100
Yeah, I think the design is looking simple and good we can work on it.

[2022-08-20 09:27] olamide203 commented on #100
Hi 👋 I would like to work on this if it hasn't been assigned to anyone yet

[2022-08-20 12:13] ykdojo commented on #100
Sounds good! Let me know if you need the code for the template.

[2022-08-20 13:04] ShaileshParmar11 commented on #74
Let me know once some mocks come, I want to contribute!

[2022-08-20 13:23] olamide203 commented on #100
It would be great if I could get the code template, I was planning to code it out using the PNG preview alone

[2022-08-20 16:01] codeknight1 commented on #106
Thanks

[2022-08-20 16:27] ykdojo commented on #74
Sure. I think something simple where you simply show all questions in a list will be ok at the beginning.

Also, [this page](https://tailwindui.com/components/application-ui/lists/stacked-lists) from [Tailwind UI](https://github.com/ykdojo/defaang/discussions/98) might be good for inspiration & code.

[2022-08-20 16:30] ykdojo commented on #100
Here it is - it's for the split screen one:

[code]

[2022-08-20 19:39] Jonyango commented on #59
@ykdojo, I am closing the draft PR I raised for this and will try to contribute to the one you have raised.

[2022-08-20 19:44] Jonyango commented on #59
So I didn't have to close it. I am confused as to why it shows that it was merged.

[2022-08-20 21:13] ykdojo commented on #59
That's kinda strange and I know GitHub does that sometimes - don't worry about it, though!

[2022-08-20 21:32] ykdojo opened #108 "[FEATURE] A question submission box (backend)"
### Description

This is the backend portion of #59.

[2022-08-20 21:33] ykdojo commented on #59
Also I just renamed this to only include frontend. Made a new issue for the backend here: https://github.com/ykdojo/defaang/issues/108

[2022-08-20 21:34] ykdojo commented on #108
The first step for this task: design the database schema.

[2022-08-20 23:15] ykdojo commented on #108
I'm going to start working on this one soon.

[2022-08-20 23:18] ykdojo commented on #108
Users table:

![Image](https://user-images.githubusercontent.com/1811651/185769124-7c06affa-60fe-4836-a70d-f774b9cacf03.png)

[2022-08-21 00:28] ykdojo commented on #108
I'm going to un-assign myself since I'll be away - in case anyone else wants to take it. I'll assign myself when I start working on it again.

[2022-08-21 01:09] ykdojo commented on #108
From my own comment on #59:

The required fields:

- Company (FAANG+, or a custom textbox)
- Location
- Date (how long ago was this asked?)
- Question (100 char max?)
- Question details
- Stay anonymous (checkbox)

[2022-08-21 05:28] iShibi commented on #95
I suggest we let the user pick a `username` during Registration. This will take the burden of generating random usernames away from us. If a user wants to change their username, later on, we should have an option to change it in settings.

For generating random avatars we can use the [Dicebear](https://github.com/dicebear/dicebear) library. It can generate different types of avatars using a seed.

[2022-08-21 05:39] iShibi commented on #89
Reopening this because #78 is yet to be merged.

[2022-08-21 14:52] veganaize commented on #89
Somebody should probably drag this back under "In progress"...?

[2022-08-21 14:54] rohitdasu commented on #89
done! thanks @veganaize

[2022-08-21 16:47] ShaileshParmar11 commented on #74
Thanks ill have a look!

[2022-08-21 20:58] ykdojo commented on #108
For the question table, this setup should be replicated:

<img width="1216" alt="image" src="https://user-images.githubusercontent.com/1811651/185810627-d3906ebd-0531-4b0f-b7ce-54b876023c4a.png">

created_by is a foreign key to the auth.users table.

<img width="650" alt="image" src="https://user-images.githubusercontent.com/1811651/185810676-aa734167-9a74-44a9-8b01-9b22d0113280.png">

[2022-08-22 01:48] anaskhan28 commented on #82
looks good https://www.figma.com/file/BMHpagkuDfPNskxak5gQqA/Brand-Guide?node-id=0%3A1

[2022-08-22 01:48] ykdojo commented on #108
A rough plan for this feature:

- Assumption: a user is already logged in
- Frontend: the user submits a question
- It goes to an API function within Next.js / Vercel
- We verify that the user is logged in there (pass a JWT there)
- It then calls Supabase with admin access
- The question is inserted in the table.

This whole process may seem a bit complicated, but I think this is the right way to

[2022-08-22 04:51] ykdojo opened #113 "[DX] <Clean up the root directory>"
### Description

The root directory has many dotfiles and config files, and it's not a very pleasant experience.

We should clean up some of them so it's easier to get started contributing to this repo.

[2022-08-22 05:06] ykdojo commented on #108
Documentation references:

- [Next.js API routes](https://nextjs.org/docs/api-routes/introduction)
- [Vercel serverless functions](https://vercel.com/docs/concepts/functions/serverless-functions)
- [Supabase passing JWT](https://github.com/supabase/supabase/issues/147#issuecomment-687579946)
- [Getting JWT](https://github.com/supabase/supabase/discussions/4312)

(Extra - thinking of sending a PR t

[2022-08-22 05:36] AakashRaj20 commented on #113
Hey @ykdojo I would like to try this issue can you assign this to me 😄

[2022-08-22 05:42] benny123tw commented on #113
We can put `.lintstagedrc` and `.commitlintrc.json` in our `package.json`.

See:
1. https://github.com/okonet/lint-staged#Configuration
2. https://github.com/conventional-changelog/commitlint#config

[2022-08-22 10:31] #71 closed

[2022-08-22 10:31] #89 closed

[2022-08-22 12:46] veganaize commented on #97
This issue should probably be closed?

[2022-08-22 12:57] veganaize opened #116 "[DOCS] Move installation instructions into `INSTALL.md`"
### Description

How about moving the installation instructions from `README.md` into a file like `INSTALL.md`?

This would allow `README.md` to be much more concise -- a project description, table of contents, and highly relevant links (Discord, etc.)

[2022-08-22 13:42] #97 closed

[2022-08-22 21:48] ykdojo opened #117 "[DOCS] <Add the project board back in CONTRIBUTING.md>"
### Description

I think we lost a link to [the project board](https://github.com/users/ykdojo/projects/1) - so we should add it back.

Also, we should link to the discussions page when we mention discussions, and the issues page when we mention issues.

[2022-08-22 21:54] ykdojo opened #118 "[DOCS] <Remove the part about issue labels>"
### Description

From Contributing.md:

There are three categories of issues on the defaang GitHub issue tracker:

1. **Bugs** come in two flavours: non-critical and critical. Non-critical bugs are those that sometimes can mean a nuisance but that do not seriously affect working with the app. Critical bugs, however, make the app barely or un-usable, and fixes need to be addressed urgently.
2. **En

[2022-08-23 00:10] benny123tw commented on #116
maybe we can name it `CONTRIBUTING.md`

e.g., my favorite repos:
1. [cypress/CONTRIBUTING.md](https://github.com/cypress-io/cypress/blob/develop/CONTRIBUTING.md)
2. [Typescript/CONTRIBUTING.md](https://github.com/microsoft/TypeScript/blob/main/CONTRIBUTING.md)
3. [axios/CONTRIBUTING.md](https://github.com/axios/axios/blob/v1.x/CONTRIBUTING.md)

[2022-08-23 04:01] benny123tw commented on #118
Hi @ykdojo, can I do this issue? I'll remove the section `Issue Labels` and use Grammarly to improve some sentences.

[2022-08-23 04:09] ykdojo commented on #118
Yes! Thank you @benny123tw

[2022-08-23 04:28] ykdojo commented on #108
I did some more research on this.

- [How to store JWT in a HTTP-only cookie securely](https://stackoverflow.com/questions/27067251/where-to-store-jwt-in-browser-how-to-protect-against-csrf#:~:text=In%20web%20browser%2C%20you%20can,it%20will%20not%20help%20you.) (this is probably the right approach)
- [A reference on React forms](https://reactjs.org/docs/forms.html)
- [One more reference page on N

[2022-08-23 05:21] ykdojo commented on #108
Using fetch to set authorization header: https://reqbin.com/code/javascript/ricgaie0/javascript-fetch-api-example

[2022-08-23 07:50] AakashRaj20 commented on #113
Hey @ykdojo I wanted to ask that should I make a new folders for dotfiles and config files and move them to their respective folders?

[2022-08-23 07:52] AakashRaj20 commented on #116
Hi @veganaize I don't think that it is needed at this point of time

[2022-08-23 12:51] veganaize commented on #82
How will this palette be preserved, after the issue / PR is closed?  Should a `DESIGN.md` or similar be created?

[2022-08-23 16:56] ykdojo commented on #113
@AakashRaj20 yes that might work well. Just make sure that these dotfiles work even if they're put in folders.

[2022-08-23 16:57] ykdojo commented on #84
I think it's this one: https://github.com/ykdojo/defaang/pull/102

[2022-08-23 17:39] #100 closed

[2022-08-23 18:11] ykdojo commented on #108
update: [verified that `supabase.auth.session().access_token` worked](https://github.com/supabase/supabase/discussions/4312) for getting the JWT.

next step: set up a Next.js API and send it there.

[2022-08-23 18:51] ykdojo commented on #108
note: the current user can be retrieved with `supabase.auth.user()`

[2022-08-23 20:10] olamide203 commented on #51
- We could have a `confirm-email` page which a user gets redirected to from `/signup` on successful signup.
-  The confirm-email page would  inform the user that a mail was sent to them containing a confirmation link.
-  when the user clicks on the link, they would get redirected to the main dashboard by supabase
- also links to `signup` and `signin` pages could be added to the navbar

[2022-08-23 20:52] ykdojo commented on #51
I'm not sure what you mean by the main app dashboard by supabase here?

[2022-08-23 21:04] olamide203 commented on #51
Supabase allows us to define the url a user gets redirected to on email confirmation. We can use that to redirect the user back to the part a user sees after signing in. for now it can just redirect to `\lndex` which is the default

[2022-08-23 21:05] ykdojo commented on #51
You meant index (/), right?

[2022-08-23 21:06] olamide203 commented on #51
yea

[2022-08-24 00:03] ykdojo opened #122 "[FEATURE] <Create a header bar with Tailwind UI>"
### Description

We can probably just use [simple dark](https://tailwindui.com/components/application-ui/navigation/navbars#component-1f0fd3139f66c75457637ca3746e3384).

Create a header bar with a login/signup link.

If the user is already logged in, we should show the user's info - (part of) the email address for now.

[2022-08-24 00:04] ykdojo commented on #108
I'm going to unassign myself for now to work on https://github.com/ykdojo/defaang/issues/122 first.

[2022-08-24 00:06] ykdojo commented on #51
FYI, for the navbar, I created [this separate issue](https://github.com/ykdojo/defaang/issues/122). I think I'm going to work on that one next.

[2022-08-24 00:39] veganaize commented on #84
Is this completed & waiting for others to review or should it be moved back to "In Progress" @RakeshSangem ?

[2022-08-24 01:01] RakeshSangem commented on #84
Yes, there are some problems with prettier. I was unable to complete it because of my exams. You can either mark this PR as "In progress" or close it for the time being.

[2022-08-24 01:22] veganaize commented on #84
I don't have the ability to move anything on this board.  Can someone who does please move this to the "Later" or "To do" column?  _Thanks._

[2022-08-24 01:50] iShibi commented on #108
I can pick the work from here

[2022-08-24 04:55] ykdojo commented on #84
I'm just going to close it.

[2022-08-24 04:55] #84 closed

[2022-08-24 04:57] ykdojo commented on #108
@iShibi sure! That'd be great.

[2022-08-24 07:05] olamide203 commented on #82
The color palettes could be added to `theme.colors` in `tailwind.config.js` since tailwind is being used for the UI

[2022-08-24 07:20] omkarg01 commented on #122
Hi @ykdojo, I would like to work on this issue.

[2022-08-24 13:54] ykdojo commented on #122
Cool! Let me know if you need the code for the UI component

[2022-08-24 13:56] #118 closed

[2022-08-24 13:58] Preet-Sojitra commented on #49
is this still open?

[2022-08-24 13:59] ykdojo commented on #49
@Preet-Sojitra yes it is

[2022-08-24 14:05] Preet-Sojitra commented on #49
So what should I write in place of `Description` ?
I guess something should be written in place of it right or if I remove it without replacing it, it won't break?

[2022-08-24 14:07] ykdojo commented on #49
Right, that's the thing - it'll probably break if we simply remove it.

It's totally unnecessary, though.

Ideally, there is a way to remove the header without affecting everything else, but I just wasn't sure there is.

[2022-08-24 14:26] ykdojo commented on #75
Note: database schema explained in #108

[2022-08-24 14:26] omkarg01 commented on #122
Yeah, need a code for that component

[2022-08-24 14:29] ykdojo commented on #122
^if that doesn't work, we might need to try another component - just let me know

[2022-08-24 14:45] #51 closed

[2022-08-24 14:51] AakashRaj20 commented on #113
ok will do that

[2022-08-24 14:57] ykdojo commented on #75
I'm now thinking of building it on top of the main site.

Ideally, the user and mods should be able to go back and forth to keep refining the post until it is good enough - kind of like how it works on GitHub.

For the initial version, we can just use emails - maybe with something like [crisp.chat](https://crisp.chat/en/).

When that becomes too awkward, it'd be good to do it on the website itself

[2022-08-24 15:19] AakashRaj20 commented on #113
Hey I have moved all the dot files in a separate folder and as there are only 3 config files, so I guess it will not be needed should I raise a PR so that you can have a look?

[2022-08-24 15:58] ykdojo commented on #113
Did you test it?

[2022-08-24 16:00] AakashRaj20 commented on #113
Yes it's working fine

[2022-08-24 16:04] ykdojo commented on #113
Great. When you open the PR, do you mind explaining how you tested each file you moved?

[2022-08-24 16:12] ykdojo commented on #75
Since this heavily relies on #59, I'm going to head over there and check up on it to see if there's something I can do there.

[2022-08-24 16:13] ykdojo commented on #59
@Jonyango any updates? If not, I'm thinking of continuing my work on #105

[2022-08-24 16:16] veganaize commented on #113
_Note: Addresses #113_

[2022-08-24 16:17] AakashRaj20 commented on #113
So actually for testing I launched the website in my local machine and everything was working fine, so can you guide me on how can perform specific test for each file?

[2022-08-24 16:18] ykdojo commented on #113
@AakashRaj20 I didn't create some of the files, so could you find the person who created each one and ask them?

[2022-08-24 16:20] AakashRaj20 commented on #113
Ok will do so

[2022-08-24 16:51] ykdojo opened #125 "[DX] <Remove the commit message restriction on Husky>"
### Description

I think we should remove the commit message restriction on Husky.

I get the value of conventional commit messages, but most commits shouldn't show up anyway as long as we squash and merge PRs.

So, as long as the commits on the main branch have the proper format, individual commit messages shouldn't matter so much.

[2022-08-24 16:56] ykdojo commented on #59
Moved it to #126 for simplicity (I had some rebasing issues)

[2022-08-24 19:20] ykdojo opened #127 "[FEATURE] <A question submission box> (styling)"
### Description

As I recently asked on [Tailwind UI's discord](https://discord.com/invite/KeGhzt4), I have a styling issue for #59 with [this Tailwind UI component](https://tailwindui.com/components/application-ui/forms/form-layouts#component-30dffb06e58cdbe872820ed3f943d85a).

<img width="932" alt="image" src="https://user-images.githubusercontent.com/1811651/186504280-8f1c9274-8836-494a-8fa3-32

[2022-08-24 19:21] ykdojo commented on #59
Made a separate issue for styling at #127.

[2022-08-24 20:11] ykdojo commented on #127
Note: looks like these two commits fixed almost everything except for a few minor font differences:

https://github.com/ykdojo/defaang/commit/384436e0874019648c1258c8172f301e2c9165db
https://github.com/ykdojo/defaang/commit/9d1d8cdc962cade242d282a8fca013404d0111d3

[2022-08-24 20:59] Jonyango commented on #59
Hey. You can continue your work at #105. Life has gotten in the way, and I won't be able to get to it for a while.

[2022-08-25 00:52] benny123tw commented on #125
This is great! And maybe we could use [GitHub Action](https://github.com/marketplace/actions/commit-linter) to run commit lint when PR is triggered?

[2022-08-25 02:03] ykdojo commented on #125
That sounds good!

[2022-08-25 08:16] benny123tw commented on #125
Hi @ykdojo, Can I do this issue? I'll remove `commitlint` packages and husky hook `commit-msg`.

I did some tests on GitHub Action I realized that running commit lint on pull requests is the same as we use it locally; it will check all the commits.
I think we just need a [PR title checker](https://github.com/thehanimo/pr-title-checker) to check the title, so I'll add a workflow to use [PR title ch

[2022-08-25 11:51] subhoghoshX commented on #127
Could you please elaborate on what font differences you're experiencing?

[2022-08-25 17:15] ykdojo commented on #125
Yes that sounds perfect! Thank you @benny123tw

[2022-08-25 17:43] ykdojo commented on #127
It's not a huge deal, but the font looks slightly different:

![image](https://user-images.githubusercontent.com/1811651/186733349-d0e2f120-f964-4b00-8050-8d36edb4d6d1.png)

[2022-08-25 18:03] ykdojo commented on #127
the fonts look slightly different, though?
![image](https://user-images.githubusercontent.com/1811651/186737102-88a807d2-8c61-400b-8551-e4d3d38ac4cd.png)
![image](https://user-images.githubusercontent.com/1811651/186737125-1e8a3a6d-c117-4832-ad87-9edc6dc6734f.png)

[2022-08-25 18:09] ykdojo commented on #108
Note: we should add a position field to the table.

[2022-08-25 18:11] subhoghoshX commented on #127
Oh no, that's an entirely different font-family. Let me dig into it.

[2022-08-25 19:04] subhoghoshX commented on #127
I ended up asking Adam Wathan, the creator of TailwindCSS.

![image](https://user-images.githubusercontent.com/108616679/186747366-f6c75e7d-b62c-4776-a983-d01c3f9afc08.png)

Essentially we need to add this:

[code]

[2022-08-25 20:59] ykdojo commented on #127
cool!

so we just need to add that in global css right?

[2022-08-26 03:06] ykdojo commented on #108
@iShibi any progress? If not, I was thinking of working on this one

[2022-08-26 03:08] #59 closed

[2022-08-26 03:16] ykdojo commented on #122
@omkarg01 any progress? If not, I might start working on this soon.

[2022-08-26 04:01] iShibi commented on #108
Didn't get time to start the work, you can take it @ykdojo

[2022-08-26 04:19] ykdojo commented on #108
I'll let you know if/when I start working on it

[2022-08-26 05:56] omkarg01 commented on #122
Yes @ykdojo I'm working on it

[2022-08-26 06:00] subhoghoshX commented on #127
Yes. I think the base layer in TailwindCSS would be an appropriate place to add it.

Let me send a PR.

[2022-08-26 07:32] #127 closed

[2022-08-26 16:06] ykdojo commented on #108
updated schema:

![Image](https://user-images.githubusercontent.com/1811651/186947010-6eb9431d-17f1-4426-9eed-b57846afac2d.png)

[2022-08-26 16:21] ykdojo opened #132 "[FEATURE] <If a user is not signed in on the question submission page, redirect to signup/signin>"
### Description

If the user is not signed in at /submit, they should be redirected.

[2022-08-26 17:12] ykdojo commented on #132
Doing some research on this.

Some reference articles/pages:

The App component in Next.js: https://nextjs.org/docs/advanced-features/custom-app

Quickstart Next.js with Supabase: https://supabase.com/docs/guides/with-nextjs

[2022-08-26 17:38] omkarg01 commented on #122
Header added
![heaeder added](https://user-images.githubusercontent.com/67428719/186959429-3e94d38e-fcea-433f-b3cc-8e7615bdcb33.png)

@ykdojo how can I go about the next step?

[2022-08-26 17:56] ykdojo commented on #122
I'm actually working on handling auth at #132.

For now, can you send a draft PR or a regular PR of what you have so far?

[2022-08-26 18:00] ykdojo commented on #132
Pass down a prop from _app to a child component: https://stackoverflow.com/questions/71537121/reactjs-nextjs-how-to-pass-props-from-app-js-to-page

[2022-08-27 20:29] ykdojo commented on #108
reference: [supabase insert](https://supabase.com/docs/reference/javascript/insert)

[2022-08-27 20:55] #132 closed

[2022-08-28 02:17] ykdojo commented on #108
note on supabase service role: https://github.com/supabase/supabase/discussions/1284

[2022-08-28 03:13] ykdojo commented on #108
After some more digging, I found that Supabase has a Next.js auth component - I'll look into this one next: https://github.com/supabase/auth-helpers/blob/main/packages/nextjs/README.md

[2022-08-28 03:50] ykdojo commented on #108
I thought [this](https://supabase.com/docs/reference/javascript/auth-setauth) might work, but it doesn't quite work the way it's described in the doc.

[2022-08-28 06:06] ykdojo commented on #108
[This one](https://github.com/supabase/supabase/issues/147#issuecomment-949953227) worked!

[2022-08-28 14:10] ykdojo commented on #108
Note: I'm currently checking [this example](https://github.com/vercel/next.js/tree/canary/examples/with-supabase-auth-realtime-db) to see how they solved it.

[2022-08-28 14:48] ykdojo commented on #108
I've found [this comment](https://github.com/supabase/supabase/discussions/1094#discussioncomment-587587) to be helpful, too.

[2022-08-28 15:59] ykdojo opened #140 "[FEATURE] <Better user signup/signin flow>"
### Description

We should handle user signups & signins better.

There are many things to do there:

Better error handling, clearly showing that users have signed in (related to #122), etc.

[2022-08-28 17:21] subhoghoshX commented on #140
I can work on it once PR #133 is merged.

[2022-08-29 06:44] AdityaPainuli commented on #95
Is there anyone working on this feature?

[2022-08-29 15:00] subhoghoshX commented on #108
I wrote an SQL query to generate the above table automatically if anyone here doesn't want to do it manually every time. Just go to the SQL Editor tab in supabase and run the query.

If you find any mistake in the query below, please let me know.

[code]

[2022-08-29 15:01] ykdojo commented on #95
@AdityaPainuli no I don't think so

[2022-08-29 16:14] #125 closed

[2022-08-30 12:44] #122 closed

[2022-08-30 14:42] dattavelivela commented on #74
Hey, @ykdojo @ShaileshParmar11

Can you let me know more about these Questions? I'll create a mockup as soon as possible in Figma.

Btw, I am Datta Velivela. An Aspiring UX Designer and UI Designer.

I can implement the Mock in Figma.

Thank you for your time and let me know about the mocks.

[2022-08-30 14:58] ykdojo commented on #74
@dattavelivela thank you.

I believe there's a bit more info about the questions on #126 and #59.

[2022-08-30 15:10] subhoghoshX commented on #140
Alright now that #133 is merged. I'll start working on this one. My plan is to do the following:

1. Show a **Sign In** link by default in the Header instead of the name & menu
2. When the user is signed in, show their name, email, and the menu
3. Implement Sign Out functionality
4. Bring back the profile picture thing maybe (open to discussion)
5. Show errors in a better way on `sign in` and `sig

[2022-08-31 07:38] subhoghoshX opened #148 "[FEATURE] <Improve Header Menu Component>"
### Description

This is related to #140.

Right now the Menu component used in the Header doesn't show the user's email on the desktop screen when logged in. It only shows on mobile screens.

I think this [component](https://tailwindui.com/components/application-ui/elements/dropdowns#component-1f7aa0b082c3b5074c78634c7d29588e) might be a better fit which also shows the email similar to how GitHub

[2022-08-31 12:08] mark-omarov commented on #148
Since nobody is currently assigned, let me take this.

[2022-08-31 12:18] subhoghoshX commented on #148
Haha, I was implicitly assigned to this as it's related to #140. But you can do it if you want.

[2022-08-31 12:23] mark-omarov commented on #148
@subhoghoshX sorry, wasn't aware.
I'm not getting much time recently for oss, wanted to do at least something while got a few minutes to spare 😄
The PR is ready, feel free to check it out. If any updates necessary - will be able to update no earlier than by this Friday, sorry 🥲

[2022-08-31 12:40] subhoghoshX commented on #148
No problem :smile:  I'm afraid this might cause a merge conflict with my other PR #147. But I guess I'll just resolve it after merging yours.

[2022-08-31 12:45] mark-omarov commented on #148
@subhoghoshX if it's too much hustle, we can do the other way around - once you merge your PR, I'll rebase, fix conflicts, and update my PR. Unfortunately, it might wait until Friday, although, if it's ready by tomorrow, I might be able to get it done in the evening (JST time). I'll leave it up to you to decide what's best.

[2022-08-31 12:49] #148 closed

[2022-08-31 12:56] subhoghoshX commented on #148
No worries already merged it. It's nothing critical to wait that long. And the conflict is also pretty easy to resolve.

Thanks for working on it.

[2022-08-31 13:01] mark-omarov commented on #148
My pleasure. Thanks for taking a look and merging! ❤️

[2022-09-01 04:33] iShibi commented on #113
Closing this as config files are supposed to be in the root directory for them to work. The other ways of "hiding" them are not very worth it which include polluting `package.json` and editor-specific features.

[2022-09-01 04:33] #113 closed

[2022-09-01 06:16] dattavelivela commented on #140
Hello @subhoghoshX @ykdojo

Can we improve the UX of Sign-up by removing text fields and including "sign up with google", "sign up with Twitter", or "sign up with GitHub", this helps in completing the signup process easier for the users to sign up?

[2022-09-01 06:31] subhoghoshX commented on #140
Could you elaborate on what you mean by removing the text fields?

And I think PR #114 is working on adding social authentications.

[2022-09-01 12:50] dattavelivela commented on #140
Oh, I'm saying instead of giving an option to the user to fill in the username or mail and password. We can have social authentications for sign-in and sign-up.

If a user tries to sign in with an unregistered google account/Apple account/Twitter/Github then
- They wouldn't be able to sign in and it displays an error message or notification saying to sign-up

If a user signs in with a registered g

[2022-09-01 13:22] subhoghoshX commented on #140
Got it. Thanks. As I mentioned social authentication is already in progress. And I believe we should have both options (social & email/password) as some users prefer email/password login.

[2022-09-01 14:04] benny123tw opened #154 "[DX] add typescript lint and remove unnecessary file pattern in eslintignore/prettierignore"
### Description

# defaang - configuration improvement plan

I'll list out what I want to do in this issue. If you have any suggestions, please let me know.

## tsconfig.json

Add 3 additional type checking.

### include

As mentioned in [tsconfig#include]:

We could remove file extension in option `include`. And add `"*"` to include root path config files.

### noImplicitReturns

Enable error rep

[2022-09-01 18:58] subhoghoshX opened #156 "[FEATURE] <Show avatar in Header instead of name>"
### Description

This is related #140.

I was thinking that we should go back to showing avatar in the Header instead of name. At least show a default avatar for now.

Showing an avatar is the most common pattern. And also when the size of the name varies too much it makes the design look bad.

Would love to know everyone's opinion on this.

[2022-09-02 02:14] mark-omarov commented on #156
I tend to agree, it's also not very intuitive that the name is a menu button. Avatar seems more appropriate to me.

[2022-09-02 02:21] omkarg01 commented on #95
Hey @ykdojo, I would like to work on it.

[2022-09-02 03:36] iShibi commented on #95
We have moved on from the initial username generation plan. Now, we let the user choose one for themselves. Closing this as it is no longer on the roadmap. I'll open another issue that addresses changing of username after #151.

[2022-09-02 03:36] #95 closed

[2022-09-02 05:50] subhoghoshX commented on #156
Definitely agree with you.

@mark-omarov would you like to take a stab at it? Feel free to go for it if you wanna do it.

[2022-09-02 05:53] subhoghoshX commented on #156
Definitely agree with you.

@mark-omarov would you like to take a stab at it? Feel free to go for it if you wanna do it. Here's the [code](https://github.com/ykdojo/defaang/issues/122#issuecomment-1225804022) for the Header.

[2022-09-02 06:45] mark-omarov commented on #156
@subhoghoshX sure, weekends ahead, will be able to get at it.

[2022-09-02 19:47] yung-coder commented on #156
@subhoghoshX are you saying for a random profile pic when user sign up ...?

[2022-09-03 04:02] #154 closed

[2022-09-03 05:24] mark-omarov commented on #156
@yung-coder we don't have avatars per se just yet, I'll be adding a default avatar-like icon button, which later on will be enhanced with a custom avatars uploaded through settings.

[2022-09-03 08:04] yung-coder commented on #156
I yeah have got idea with a random or custom avatar when a user sign up ...

[2022-09-03 13:21] mark-omarov commented on #156
@subhoghoshX
I was playing with the avatar-like button, and when there's an actual image it looks fine, but with a placeholder (icon in our case) it doesn't look as good. How about we make the same format as the notification bell button, and once the user has a profile picture in the model - we can swap the icon to the rounded image instead?

<img width="262" alt="Screen Shot 2022-09-03 at 10 17 5

[2022-09-05 07:21] #156 closed

[2022-09-05 12:27] iShibi commented on #49
Closing this as `body` is required and cannot be empty in issue templates.

[2022-09-06 04:31] ykdojo opened #163 "[DOCS] Add detailed comments on supabase.sql"
### Description

The setup [SQL file](https://github.com/ykdojo/defaang/blob/main/supabase.sql) has a lot of things that won't be easily understood by typical devs who are already familiar with JS, TS, etc.

We should probably add some detailed comments about what each section does exactly.

[2022-09-06 08:02] yaa-chi commented on #140
Hi @subhoghoshX you can check out the user flow here to see if it corresponds with your idea on the sign-up flow: https://www.figma.com/file/DtaNEDhDNz0Wgs4XohV6Pt/Defaang-User-Flow?node-id=0%3A1

[2022-09-06 08:04] yaa-chi commented on #24
Wooow, can't wait to see it @swxstikk 🔥

[2022-09-06 08:09] yaa-chi commented on #74
Hi @dattavelivela Thanks for joining in! Do have a look at what we have done here for the signup flow, we can use this Figjam to continue working on other mockups for the defaang website as we currently have a team file. I can add you to the team as well.

Here's the link: https://www.figma.com/file/DtaNEDhDNz0Wgs4XohV6Pt/Defaang-User-Flow?node-id=0%3A1

[2022-09-06 08:43] dattavelivela commented on #74
Sure, please add me to the team file

Figma Acc- dattavelivela7@gmail.com

[2022-09-06 17:06] subhoghoshX commented on #140
Already checked it. Thanks for the amazing work @yaa-chi.

[2022-09-06 17:27] subhoghoshX commented on #163
I can work on it. I'll also try to add the SQL for creating the questions table too.

[2022-09-09 23:22] yaa-chi commented on #140
You're welcome @subhoghoshX . There's more to come!🥳🎉

[2022-09-11 04:45] ykdojo commented on #108
update: I'll be working off of [this draft PR](https://github.com/ykdojo/defaang/pull/137)

[2022-09-11 05:35] Gulshanaggarwal opened #168 "[DOCS] Invalid Discord link in CONTRIBUTING.md file"
### Description

**What's the problem?**
The Discord community Invite link is invalid in contributing.md file.

**See below image-**
<img width="908" alt="discord_invite_invalid" src="https://user-images.githubusercontent.com/58553401/189513903-84be17fb-7efb-423f-9a32-cbee0fe0faf8.png">

**How to reach to the problem?**

- Go to contributing.md file
- Click on the discord link mentioned under the

[2022-09-11 05:36] Gulshanaggarwal commented on #168
@ykdojo please verify it. I would like to start my first contribution in **defaang** by solving a simple docs fix.

[2022-09-11 05:42] subhoghoshX commented on #168
Hey, @Gulshanaggarwal  thanks for pointing it out. Here's the working link `https://discord.gg/nNtVfKddDD`. Feel free to send a PR.

[2022-09-11 06:42] iShibi opened #169 "[FEATURE] Add global state management"
### Description

I'll start the work on adding global state management today. This issue has been created to track its implementation.

I have been using https://redux-toolkit.js.org/ for a long time now and it has been great to work with. I tried other libraries but none of them is as good as it is. If you have any input to provide, please feel free to do so here or on the related PR (yet to open

[2022-09-11 08:51] Gulshanaggarwal commented on #168
Hey @subhoghoshX I have create the PR, check it out here -[#171]( https://github.com/ykdojo/defaang/pull/171)

[2022-09-11 09:08] #168 closed

[2022-09-11 09:18] Gulshanaggarwal commented on #140
Hey @subhoghoshX UX experience can be improved when user presses signin or signup button. There should be a loading animation on the button or all over the screen. What do you think?

[2022-09-12 01:21] olamide203 commented on #82
Hi @ykdojo can I add the already selected color palettes to the `tailwind.config.js`

[2022-09-12 01:22] ykdojo opened #172 "[FEATURE] Create a new landing page where it shows more info about the website"
### Description

We should have a new landing page where we show more clearly what the website is about, and why people might want to submit a question.

The way it's going to work is:

We'll officially launch it when we have, say, 100 approved questions.

Until then, only people who have submitted at least one approved question should be able to see the other ones.

We should explain this on the

[2022-09-12 01:23] ykdojo commented on #82
@olamide203 yes that'll be great. Would it correctly change the colors in the Tailwind UI components?

[2022-09-12 01:29] ykdojo commented on #172
The tagline:

defaang - a website that will curate recently-asked interview questions from FAANG+ to help people practice & prep!

[2022-09-12 01:38] ykdojo commented on #172
Or we could break it down into something like:

Where you can prep for your upcoming FAANG+ interviews.

We curate recently-asked interview questions from FAANG+ to help people practice & prep.

Inspirations:

https://www.landingfolio.com/inspiration/post/parallel
https://land-book.com/websites/38033-homerun-where-hiring-comes-together

[2022-09-12 01:51] olamide203 commented on #82
we could either extend the default color palette or completely relpace it with the new one. I think extending the default then slowly applying the colors to the UI is better.

[2022-09-12 02:57] ykdojo commented on #172
Another inspiration - the gradient in [this landing page](https://tailwindui.com/) is pretty nice.

[2022-09-12 03:29] ykdojo commented on #172
color: #82

[2022-09-12 03:33] ykdojo commented on #172
gradient idea: https://tailwind-gradient-generator.vercel.app/gradient?colors=white-100,white-200,sky-300&direction=TR

[2022-09-12 03:55] ykdojo commented on #172
I started to manually build this landing page, and then came across this template by Tailwind themselves: https://tailwindui.com/templates/salient

I'm considering buying it since I feel like it looks good enough for what we want.

[2022-09-12 16:59] subhoghoshX commented on #140
Sounds good. I don't see many sites using it though. Open to discussion.

[2022-09-12 17:06] ykdojo commented on #140
I think the idea is that this process should be fast enough, a loading screen won't make sense - but open to discussion, too

[2022-09-12 17:14] subhoghoshX commented on #172
I don't think you need to buy another template. We won't even use most of it.

[2022-09-12 17:49] subhoghoshX commented on #172
If I understand correctly I think we'll have something similar to this:

![image](https://user-images.githubusercontent.com/108616679/189721670-d653563d-ea54-44e8-a5d9-667a7ffb678d.png)

Then instead of having those two buttons, we can have an email input field. Something like this:

![image](https://user-images.githubusercontent.com/108616679/189721309-127d0a23-e38f-4455-addc-d0e3247feb9c.png)

[2022-09-12 18:04] ykdojo commented on #172
@subhoghoshX yes something like that.

Instead of an email box, though, it might make sense to have Discord and GitHub links there for now.

[2022-09-12 19:25] ykdojo commented on #172
![image](https://user-images.githubusercontent.com/1811651/189738768-0ca8b394-54de-42ba-a886-8959ac04308e.png)

[2022-09-12 20:31] ykdojo commented on #172
work in progress:
![image](https://user-images.githubusercontent.com/1811651/189752933-ea528a63-271f-45ca-a90c-9f7bad164764.png)

[2022-09-13 02:16] ykdojo commented on #172
What I have locally rn:
![image](https://user-images.githubusercontent.com/1811651/189792504-2f244c20-5bdf-41cf-a333-a17b070348fb.png)

![image](https://user-images.githubusercontent.com/1811651/189792515-db698b29-afc2-4e0f-b87e-a2f97005a894.png)

[2022-09-13 04:43] Gulshanaggarwal opened #175 "**What's the idea?**"
**What's the idea?**
There should be a loading icon on the button when user presses signin & signup button. It will inform to them that it's performing the action otherwise, they will have to wait. It may confuse if there is not a loading.  It will improve UX definitely.

@ykdojo @subhoghoshX anything you would like to add? Can I create a new issue and start working on it?

_Originally posted by @

[2022-09-13 04:44] #175 closed

[2022-09-14 07:34] ykdojo commented on #172
I had [this PR](https://github.com/ykdojo/defaang/pull/173) earlier, but I closed it for now so we can work on a fresh PR to send/review later.

[2022-09-16 05:33] ykdojo commented on #74
yes it is

[2022-09-16 16:12] CerealPlayer opened #180 "[DX] Database schema should be easily shareable"
Using tools like Prisma as discussed in https://github.com/ykdojo/defaang/discussions/178 could help create a db schema that we can all use to bootstrap our Postgres databases. Many other use cases for it too.

This way we wouldn't need to jump to #108 every time we want to work with db

[2022-09-16 17:28] ykdojo commented on #180
Why not just use a plain SQL for creating the db schema though?

[2022-09-17 16:46] CerealPlayer commented on #180
While it is true, SQL might lead to vulnerabilities if not properly written.

[2022-09-19 04:02] ykdojo commented on #180
Hmm it is really cool.

I don't have a strong preference either way though - so perhaps we can wait a bit to see if anyone else has any thoughts on it.

[2022-09-19 15:30] #172 closed

[2022-09-19 23:49] ykdojo commented on #180
I was doing some research on this, and it turns out, Supabase even has an entire doc on how to set it up [here](https://supabase.com/docs/guides/integrations/prisma).

Seems pretty promising - I'll look into it.

[2022-09-20 04:10] CerealPlayer commented on #180
Supabase doc's on this matter are pretty much Prisma doc's for every db.

That's another advantage I see. If anybody doesn't want to work with Supabase locally (personally I've run out of free projects) at least for the purely database stuff they can set up a Postgres docker container, bootstrap the same db using that schema plus Prisma migrate and use the Postgres connection string to connect to

[2022-09-20 16:28] CerealPlayer opened #181 "[DX] Convert components to tsx"
### Description

Recently merged #179 introduced some components written in jsx. While that is not bad, we could transform them to tsx to align with the project stack and also improves future developments on those files.

If needed, I could work on that :)

[2022-09-20 16:31] ykdojo commented on #181
Sure, that sounds like a good idea - thank you! Feel free to start working on it if you'd like.

[2022-09-20 16:53] CerealPlayer commented on #181
Do we have any preference on how to handle types? I mean, should we have a types folder? Place types in an interface file alongside its component?

[2022-09-20 17:06] ykdojo commented on #181
Answered this on my discord stream -

I don't have a strong preference for it, but I think it's good to start simple (in the same file or in an individual interface file), then extract the types into a separate folder/file once it gets too complex / we start reusing them.

[2022-09-20 17:26] Gulshanaggarwal opened #182 "[FEATURE] Company Tags(question submission form)"
### Description

To improve the user experience(UI & UX), I think we must give the option of company tags(initially for only a few companies), otherwise, user will write companies' names in different ways. for example - someone may write facebook or facebok. So it will make the other User's experience inconsistent because they will be seeing the same company name in different ways. And for reset o

[2022-09-20 17:45] publikphigor opened #183 "[FEATURE] Dark Theme"
### Description

[code]

[2022-09-20 18:10] publikphigor opened #184 "[DOCS] Move Demo Link To Top Of README"
### Description

There's a demo link in the  `README.md` but it's way at the bottom.

Most times people just want to see what's already live and how everything looks. So, It'll be nice to have the Demo Link moved to the top of the `README.md`.

[2022-09-20 18:20] yung-coder commented on #183
Yeah i would like to work on it ..

[2022-09-21 04:00] Gulshanaggarwal commented on #182
@ykdojo  can I start working on this ?

[2022-09-21 04:06] ykdojo commented on #182
How would you implement it?

[2022-09-21 11:29] Gulshanaggarwal commented on #182
@ykdojo I will implement it something like what Leetcode does. As User types something, he/she will get a dropdown & can choose the company out from it. Initially we can avoid accepting names manually. Users will have to pick only from the dropdown list.

[2022-09-21 17:23] #184 closed

[2022-09-21 17:29] ykdojo commented on #182
That sounds good.

How would you deal with a case when a company doesn't exist on this list yet?

Also, where would you store this list?

[2022-09-21 17:38] ykdojo opened #189 "[FEATURE] Add a CTA to submit a question on the landing page"
### Description

Add a call to action to submit a question on the landing page (link to /questions/new)

[2022-09-22 05:25] #108 closed

[2022-09-22 07:05] nateemerson commented on #116
The current `README.md` weighs in at 90 LOC (lines of code) which doesn't strike me as too large at all. In fact, many repos have massive readmes that include everything about a library (take [zod's 2224 line beast](https://github.com/colinhacks/zod/blob/master/README.md?plain=1) for example). Granted, the well structured table of contents definitely helps out.

I'll be honest, I'm not even sure i

[2022-09-22 08:51] Gulshanaggarwal commented on #182
@ykdojo Cool, If a company name not found we can allow user to manually type it or otherwise we can skip(like Leetcode). The list of companies can be stored in a json file over front end side or may be we can fetch from server side.

[2022-09-22 16:48] ykdojo commented on #182
We should probably always have a way for users to use custom text for the company name, or create a new company tag, so we don't lose a user when they're trying to submit a question.

[2022-09-22 16:52] subhoghoshX commented on #182
If the predefined companies are up to 5-10 then you can just use html `datalist`. No need to use any js or backend service.

[2022-09-22 16:53] subhoghoshX commented on #182
If the predefined companies are up to 5-10 then you can just use html `datalist`. No need to use any js or backend service.

[2022-09-22 17:47] ykdojo opened #192 "[DX] Remove the current Header component, rename Header2 -> Header"
### Description

We're currently using Header2 as our header component, but we should rename it to Header and remove the old component, currently named Header.

[2022-09-22 17:49] ykdojo opened #193 "[DX] Add defaang to Hacktoberfest"
### Description

Figure out how to add it to Hacktoberfest and add it!

[2022-09-22 18:07] ykdojo opened #195 "[FEATURE] When a user is not signed in on the question submission page, redirect them to the sign up page"
### Description

Currently, they're redirected to the sign in page, but this should be the sign up page instead.

[2022-09-22 20:31] ppborah commented on #195
I think `res.redirect.(200, '<signup api endpoint>')` should work.
Could you please let me know how do I get the signup api endpoint ?

[2022-09-23 02:42] ivanolmo commented on #195
Hi @ykdojo, I'd like to work on this. I already have a working redirect and am ready to submit a PR.

[2022-09-23 03:18] ivanolmo commented on #192
Hi @ykdojo, I'd like to work on this.

[2022-09-23 03:35] Gulshanaggarwal commented on #182
@ykdojo no problem, in that case we can ask for manually. I hope we are ready to implement it 🚀

[2022-09-23 03:37] Gulshanaggarwal commented on #182
@subhoghoshX True 💯. I was just taking a case if we would have 50-100 companies, then we could store in json file or server side.

[2022-09-23 05:39] ppborah commented on #195
Hey @ivanolmo and @ykdojo, what is this `QuestionSubmissionForm.tsx` doing here👇 then ?

<img width="1319" alt="Screenshot 2022-09-23 at 11 05 40 AM" src="https://user-images.githubusercontent.com/96339995/191897908-c28879ef-c031-4eef-8bb3-639d907affbb.png">

[2022-09-23 06:07] ivanolmo commented on #195
@ppborah It looks like the submit handler returns early and doesn't allow any submission if there is no valid session. I suppose that particular check is probably redundant if a valid session check is already performed in the parent page component.

[2022-09-23 06:42] ppborah commented on #195
I get it now
Thanks :)

[2022-09-23 13:18] #192 closed

[2022-09-23 13:25] #195 closed

[2022-09-23 16:46] Preet-Sojitra commented on #193
Here's what I found from Hacktoberfest website
https://hacktoberfest.com/participation/#maintainers

So basically you have to add `hactoberfest` topic to the repo

[2022-09-23 16:47] Preet-Sojitra commented on #183
There is already an opened issue (Issue #82 ) for color theme.

[2022-09-23 17:21] nateemerson commented on #85
Next Auth could be helpful for integrating some of the auth flows w/ Next Middleware..but I'm not very familiar w/ Supabase auth. I'd be curious how the two connect / work together...I'm assuming there's still a way to leverage Supabase auth from Next middleware so probably not a dealbreaker one way or the other.

[2022-09-23 17:33] #189 closed

[2022-09-23 17:39] ykdojo commented on #182
@Gulshanaggarwal sure, feel free to send a PR either as a regular PR or a draft one.

[2022-09-23 17:57] ykdojo commented on #85
This one looks interesting, just came across it: https://themodern.dev/courses/build-a-fullstack-app-with-nextjs-supabase-and-prisma-322389284337222224

[2022-09-23 17:59] ykdojo commented on #85
And this: https://twitter.com/supabase/status/1573100354174332928?s=46&t=ydHdma5FnBvGoSlDUOYE1g

[2022-09-23 18:10] VaibhavSinghDev opened #199 "[BUG] Alert message while user Signup : duplicate key value violates unique constraint "users_email_key""
### Description

When new users sign-up, an alert shows this message before proceeding to sign up: duplicate key value violates the unique constraint "users_email_key".

### Screenshots

![Screenshot from 2022-09-23 23-22-37](https://user-images.githubusercontent.com/85750972/192030523-c98af8b5-257d-41e1-b8f9-51b03183ab4a.png)

[2022-09-23 23:43] publikphigor opened #200 "[FEATURE] Email confirmation page"
### Description

When a new user signs up, they're required to confirm their email address by clicking a link sent to their mail.

The link should lead to a page that shows that their email has been confirmed. Currently, it leads back to the homepage.

[2022-09-24 01:22] ykdojo opened #201 "[DOCS] Add info about Twitch streaming on README"
### Description

I’ve been streaming about this project on Twitch at twitch.tv/ykdojo. It’d be good to have info about that on README.

[2022-09-24 06:31] Rahmattullah13 commented on #201
Hai! i've been adding Twitch link, see my pull request

[2022-09-24 14:02] AdityaPainuli commented on #169
Here is there anyone working on this issue right now ?

[2022-09-24 14:03] AdityaPainuli commented on #85
Yes , I also come across that and currently I am learning how to make it work for one of my project

[2022-09-25 11:18] Gulshanaggarwal opened #203 "[BUG] Description: Application breaking in local environment"
### Description

What's the issue?
Because of the application breaking I created a fresh clone of the repo, & installed the dependencies again. After starting the server with **npm run dev** it starts the server but when I click on signup today buttonit doesn't take me there. If I type signup page url explicitly in my browser than it gives me the error.

### Screenshots

<img width="960" alt="defa

[2022-09-25 11:18] Gulshanaggarwal commented on #203
@ykdojo give a look at it

[2022-09-25 19:28] ykdojo commented on #201
@Rahmattullah13 thank you I just merged it #202

[2022-09-25 19:31] ykdojo commented on #169
@AdityaPainuli I don't think so!

[2022-09-25 19:56] ykdojo commented on #203
@Gulshanaggarwal did you add Supabase URL and API keys?

[2022-09-26 00:21] ykdojo opened #205 "[DOCS] Put Discord rules in a standalone file"
### Description

We should put our Discord rules in a standalone file here (say, DISCORD_RULES.md) so people can send suggestions as PRs.

Current rules:

1. Do not DM or call people without knowing them first.
2. If you have questions, ask them in public channels.

[2022-09-26 00:26] epicadidash commented on #205
3.No use of inappropriate language or profanity should be kept to a minimum. However, any derogatory language towards any user is strictly prohibited.

[2022-09-26 00:28] epicadidash commented on #205
4.No spamming i.e don't share the same message in every chat or keep repeating the message or pinging people for same request (message) again and again

[2022-09-26 00:29] ykdojo commented on #205
@epicadidash did you write these by yourself or did you copy them from somewhere else?

[2022-09-26 02:20] AdityaPainuli commented on #169
Then, can I work on this .

[2022-09-26 03:25] weilincheng commented on #205
Hi @ykdojo. I'd like to work on this issue as my first ever contribution to the open source project. I have filed a PR #206 for it. Would you please help take a look and let me know if I need to improve anything? Thanks a lot for providing the opportunity for someone who is entering the software engineering world. :)

[2022-09-26 06:59] dattavelivela commented on #172
![image](https://user-images.githubusercontent.com/97103375/192211908-01cea057-1062-40d3-b981-2e9e9aef6f33.png)

Hello Folks, I have a query

I see that we have click action on How it works section. By clicking on contribute changes the color.

I assume it is supposed to have a hyperlink in the future or it doesn't have any hyperlink?

[2022-09-26 11:00] Gulshanaggarwal commented on #203
@ykdojo I have already done with this. One more thing there is problem also on production side(just figured out). Goto[https://defaang.vercel.app/](https://defaang.vercel.app/) & click on signup today. If you already signed up then signin. Once you signin with your credentials, you will not be taken to the dashboard.

[2022-09-26 14:22] #201 closed

[2022-09-26 15:38] ykdojo commented on #205
@krshcodes and @epicadidash have more stuff to add to the discussion - we were just talking about it on our stream.

[2022-09-26 15:39] epicadidash commented on #205
@ykdojo the rules are from my discord server

[2022-09-26 15:40] ykdojo commented on #205
Let's not do any copy/pasting for the rules. I think it's important to come up with our own rules from scratch.

[2022-09-26 15:44] ykdojo commented on #172
I don't particularly have a strong opinion on either option, and I don't think this type of discussion should happen on a closed PR. Mind starting a Discussion around it if you'd like?

[2022-09-26 15:52] ykdojo commented on #203
@Gulshanaggarwal what did you mean by the dashboard?

[2022-09-26 15:55] Gulshanaggarwal commented on #203
The page users see after signin.

[2022-09-26 17:51] #203 closed

[2022-09-26 18:11] ykdojo commented on #203
@Gulshanaggarwal does it already exist in the current codebase? I'm just not sure what you mean by dashboard exactly.

[2022-09-27 10:29] TreciaKS opened #210 "Style: Padding of 'How it work' section for RWD"
### Description

I noticed that the padding of the 'How it works' section creates a lot of whitespace.

I would like to work on the responsiveness on this section so that the site displays well on smaller screens.

### Screenshots

<img width="377" alt="how-it-works-section" src="https://user-images.githubusercontent.com/82657928/192502874-69f69a50-a11d-4214-a59f-7438dc5878d5.png">

[2022-09-27 16:34] ykdojo commented on #210
Sounds good! Thank you @TreciaKS

[2022-09-27 17:19] ykdojo opened #211 "[FEATURE] Start using defaang.io instead of the vercel.app domain"
### Description

It'll be good to start using the io domain to make it look more official.

[2022-09-27 17:29] ykdojo commented on #193
From the Hacktoberfest website:

- Be ready to review pull/merge requests, accepting those that are valid by merging them, leaving an overall approving review, or by adding the “hacktoberfest-accepted” label.

- Reject any spammy requests you receive by labeling them as “spam,” and any other invalid contributions by closing them or labeling them as “invalid.”

[2022-09-27 17:31] ykdojo commented on #193
For maintainers:

The hard work of our Maintainers is the reason Hacktoberfest exists, so we want you to have the opportunity to receive your very own Hacktoberfest 2022 reward. In order to become eligible for the opportunity to win a Reward Kit all a Maintainer will have to do is complete four or more maintainer actions on unique PR/MRs in repos participating in Hacktoberfest. Here are the Mainta

[2022-09-28 17:27] #205 closed

[2022-09-28 17:34] ykdojo opened #214 "[FEATURE] When a user is already logged in, change the primary CTA in the header"
### Description

Currently, even when the user is logged in, it shows **Sign up today**.

We should change it to **Submit a question**.

[2022-09-28 17:34] epicadidash opened #215 "[BUG] After clicking Signup , the screen shows like unresponsiveness"
### Description

![image](https://user-images.githubusercontent.com/83776308/192849098-ac2eda7a-0e13-47a6-af9c-4f75aeea224d.png)
Before this page , when frontend was trying to establish connection, it does not show loading and nothing.
Instead, I did not know anything about this so clicked multiple times and  faced with some duplicate database.key error.

### Screenshots

![image](https://user-ima

[2022-09-28 17:41] ykdojo opened #216 "[FEATURE] Better question submission flow"
### Description

When a user submits a question, there should be a better indication to show that the question has been submitted successfully.

[2022-09-28 17:56] epicadidash commented on #216
@ykdojo would love to work on this

[2022-09-29 10:10] jengkhaw95 commented on #214
@ykdojo Hi, I would like to work on this.

[2022-09-29 14:30] ykdojo commented on #214
@jengkhaw95 sounds good, thank you. I'll assign you.

[2022-09-29 14:31] InHuOfficial opened #218 "Add the "spam" label ready for Hacktoberfest"
### Description

If someone submits a PR that is evidentially just for getting a green square you should mark it as "spam" with the labels, didn't see it in the labels list.

[2022-09-29 14:33] ykdojo commented on #218
done. thank you Graham

[2022-09-29 14:33] #218 closed

[2022-09-29 14:33] slim-codes opened #219 "[DOCS] SUGGESTION: Minor issues with the contribution guidelines"
### Description

Some of the instructions in the [CONTRIBUTING.md](https://github.com/ykdojo/defaang/edit/main/CONTRIBUTING.md) document are confusing. The confusing instructions appear under these two sections: **Making Changes** and **Pushing Changes**.

### What would you like to see?

### under Making Changes section
- Use **run** instead of **call** in step 1 and 2 under **Making Changes** se

[2022-09-29 14:42] epicadidash opened #221 "[DX] Wrong Favicon !!!"
## Description

### The website of the project uses vercel's default favicon which degrades website's reputation among new people.
### I would love to create a logo (Favicon) and implement it in code
![image](https://user-images.githubusercontent.com/83776308/193062451-8eabd36f-81bd-472c-a31f-5d6c910a1c3c.png)

[2022-09-29 14:47] ykdojo commented on #219
@slim-codes thank you.

Would you mind sending these changes as a PR so they're easier to review in the right context?

[2022-09-29 14:49] slim-codes commented on #219
Sure!
I just saw you typing these on discord 😂😂

[2022-09-29 16:20] Johnnyteck commented on #211
I'll suggest you update that in the README as well because I just clicked the link available on README and it's the vercel.app version

[2022-09-29 17:16] CerealPlayer commented on #215
If needed, I can work on this over the next few days

[2022-09-30 05:11] CamilingJS opened #224 "Logo Design"
### Description

I have an idea of a logo to replace the current the top left defaang label here is the svg:
[https://res.cloudinary.com/dxctpvd8v/image/upload/v1664514087/defaang_rb0xvh.svg](url)

`<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="100%" height="100%" viewBox="0 0 75

[2022-09-30 16:22] ykdojo commented on #215
@CerealPlayer should I assign you?

[2022-09-30 16:37] CerealPlayer commented on #215
Sure!

[2022-09-30 16:38] epicadidash commented on #221
![defaang io (1)](https://user-images.githubusercontent.com/83776308/193317140-6296d785-f67c-4650-ba38-62ebfaf75867.jpg)

## A proposed logo

[2022-09-30 16:42] epicadidash commented on #221
![Defaang](https://user-images.githubusercontent.com/83776308/193317545-a5bdd1d9-d251-46c9-97eb-a0a4f14565c7.jpg)
### A kind of logo but if accepted can be made into favicon

[2022-09-30 16:49] ykdojo commented on #221
Let's discuss this at #224.

[2022-09-30 16:59] ykdojo commented on #211
Update: updated this on Vercel.

[2022-09-30 17:07] ykdojo opened #225 "[DOCS] Change the demo link in README"
### Description

We should change the demo link on README from the Vercel link to defaang.io.

Related: #211

[2022-09-30 17:08] ykdojo commented on #211
Done. I put what @Johnnyteck mentioned in a separate issue here: #225.

[2022-09-30 17:08] #211 closed

[2022-09-30 17:11] #225 closed

[2022-09-30 17:12] Abhinav-J05 commented on #225
Hey! I would like to contribute in this, Please assign this to me.

[2022-09-30 17:13] ykdojo commented on #225
@Abhinav-J05, @AdityaPainuli sent a PR and it's closed already!

Feel free to take a look through other issues, though.

[2022-09-30 18:02] subhoghoshX commented on #200
@ykdojo what do you think? It's not the most important thing, but I can do it pretty quickly. And there aren't many issues left to grab :laughing:

[2022-09-30 18:03] publikphigor commented on #200
Go ahead. Do it and make a PR.

[2022-09-30 18:56] CamilingJS commented on #224
Awesome! I like the feedback! Let me put something else together for your review. There is the logo with the full name and then there is the logomark which is a symbol. I will put both things together. Is the color scheme okay or would prefer a different color?

[2022-09-30 20:51] CamilingJS commented on #224
Here's another version. Let me know if I can make changes.
[https://res.cloudinary.com/dxctpvd8v/image/upload/v1664571000/defaangV2_ey854h.png](url)

[2022-09-30 21:24] CamilingJS commented on #224
Here's the second rendition. Let me know if I can change anything.
[https://res.cloudinary.com/dxctpvd8v/image/upload/v1664572847/defaangV2_fvns49.png](url)

Favicon:
[https://res.cloudinary.com/dxctpvd8v/image/upload/v1664573007/defaangV2_favicon_sz9puz.svg](url)

[2022-10-01 01:31] CamilingJS commented on #224
Here's another random and simple idea

<img align="center" src="https://res.cloudinary.com/dxctpvd8v/image/upload/v1664586918/defaangV3_u64hls.jpg" width="50%" alt="defaang" >

[2022-10-01 01:58] CamilingJS commented on #224
Here's a minimal Japan inspired one:
<img align="center" src="https://res.cloudinary.com/dxctpvd8v/image/upload/v1664589428/defaangV4_zshavb.jpg" width="100%" alt="defaang" >

[2022-10-01 04:03] epicadidash commented on #224
![defaang io (1)](https://user-images.githubusercontent.com/83776308/193317140-6296d785-f67c-4650-ba38-62ebfaf75867.jpg)

 A proposed logo

[2022-10-01 04:03] epicadidash commented on #224
![Defaang](https://user-images.githubusercontent.com/83776308/193317545-a5bdd1d9-d251-46c9-97eb-a0a4f14565c7.jpg)
 A kind of logo but if accepted can be made into favicon

[2022-10-01 04:04] epicadidash commented on #224
@CamilingJS
These are some of my logos , havinfg more

[2022-10-01 06:10] SanDiego2049 commented on #193
Is this something anyone can do? If yes, then can i be assigned to it?

[2022-10-01 09:57] ashishcas commented on #74
hi @ykdojo  sorry i wasn't able to reply , can you assign it to me

[2022-10-01 10:00] Gulshanaggarwal commented on #182
Hey @ykdojo there is a problem with the Combobox  code. Actually with the combobox code it is difficult to maintain your state while taking advantage of react-form-hook. If I setup state manually without registering react-form-hook then only I'm able to take advantage of combobox.
When I apply react-form-hook it's working. If you type something like **fac** it will show you the list & you can sele

[2022-10-01 17:40] ykdojo commented on #224
@CamilingJS

I think this one is a great start:

![image](https://user-images.githubusercontent.com/1811651/193421443-269069d5-9a55-4fdd-bc1d-5ab9391d55db.png)

I wonder if we can put less stuff in the white space though?

Maybe start with this shape and combine it with d or D somehow? Just an idea.

[2022-10-01 17:47] ykdojo opened #232 "[CONTENT] Submit an interview question"
### Description

Submit an interview question (not necessarily from FAANG+) so we have more content on the site.

Then, add yourself to CONTRIBUTORS.md if you'd like.

[2022-10-01 17:59] nateemerson commented on #224
![image](https://user-images.githubusercontent.com/596293/193422182-35db6e88-4a99-42c8-a2dc-e2955d801546.png)

I'm very bad at drawing but this is a concept I was trying to just get the basic idea communicated on paper. Simple "DF" logotype, but treat the horizontal lines of the F as "fangs" and you can have one of them/both of them be "broken" or "snapped off"...could also indicate with a bandaid

[2022-10-01 18:00] ykdojo commented on #193
@SanDiego2049 I just double-checked it, and this one's actually already done. Feel free to look through the other issues, though.

[2022-10-01 18:00] #193 closed

[2022-10-01 18:09] ykdojo opened #234 "[DX] Change tabs to spaces"
### Description

A few reasons:

1. Tabs don't show up well on GitHub Desktop and GitHub Mobile. There's no way to fix it.
2. @subhoghoshX mentioned it doesn't show well on the terminal (for example when showing git diffs).

[2022-10-01 18:23] shivansh12032004 commented on #232
Hey, can I work on this?

[2022-10-01 18:30] imran1509 commented on #232
Can I contribute to this?

[2022-10-01 18:30] ykdojo commented on #232
@shivansh12032004 @imran1509 of course!

[2022-10-01 18:34] imran1509 commented on #232
But I am new to this. So this is a content contribution. How do I submit my interview questions to you?

[2022-10-01 18:38] imran1509 commented on #232
Where do I have to Submit the questions?
Is there any specific file containing interview questions?
or by any other way?

[2022-10-01 18:39] ykdojo commented on #232
You can submit them on the defaang website at [defaang.io](https://defaang.io)

[2022-10-01 18:39] #234 closed

[2022-10-01 19:00] imran1509 commented on #232
okay just sign up on the website and submit the questions?
nd then add myself to contributors.md

[2022-10-01 19:04] ykdojo commented on #232
@imran1509 yes exactly

[2022-10-01 19:07] imran1509 commented on #232
okay Thanks
Is there any limit on how much minimum questions should we submit?
And about any specific role?
Can I submit questions related to DevOps as it is my field

[2022-10-01 19:20] SanDiego2049 commented on #232
I'd love to join in on the fun @ykdojo

[2022-10-01 19:38] ashishcas commented on #74
@ykdojo  I am no able to find mockup its helpful if you can share the mock up I will start working

[2022-10-01 19:43] imran1509 commented on #232
Done. I have submitted to questions
So now you will review them and then they will be counted ?

[2022-10-01 22:55] slim-codes opened #237 "[DX] gitpodify repository"
### Description

Add Gitpod button to **README.md** to rapidly open and use project without going through the hassle of forking, and cloning locally. Basic changes can be done quickly from the browser.

Click the button below to rapidly open the defaang workspace on through Gitpod in your browser

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io/#https://github.co

[2022-10-02 02:10] ykdojo commented on #232
@imran1509 let's wait till they're marked as approved - I'll keep you updated!

[2022-10-02 03:14] CamilingJS commented on #224
Not the "friendliest" but here's what it would look like.
<img align="center" src="https://res.cloudinary.com/dxctpvd8v/image/upload/v1664680272/defaangV5_vzjvcd.png" width="50%" alt="defaang" >

[2022-10-02 04:25] Gulshanaggarwal commented on #182
Hey @ykdojo what do you think?

[2022-10-02 05:16] aakashraj01 commented on #232
Hey @ykdojo ..Can I expect more issues comin on this repository in reference with hacktoberfest 2022. I would love to contribute if there is any opened issue

[2022-10-02 05:31] vaishnavi-nawghare commented on #224
Although I am not good at digital art, I have prepared a rough sketch. The idea I’m trying to propose is detailed. The ‘D’ can be treated as a mouth consisting multiple fangs with a tongue.
![DF41734C-3A4F-417E-9CE3-B00D0EF1824C](https://user-images.githubusercontent.com/84506950/193439511-f4512fde-574f-4e58-bf52-76b1831fe515.jpeg)

[2022-10-02 06:55] adilwahla commented on #216
there should be some kind of confirmation that yes your questions has been submitted successfully thanks  @ykdojo for early detection of issue :) i just submitted question and found this issue ...looking to contribute in other things

[2022-10-02 17:39] ykdojo commented on #237
@slim-codes just added a comment/question in your PR

[2022-10-02 17:43] ykdojo commented on #224
@vaishnavi-nawghare thank you for that, but I feel like it doesn't quite represent the defaang brand.

[2022-10-02 17:51] epicadidash commented on #224
![image](https://user-images.githubusercontent.com/83776308/193468540-c621757f-8002-40ae-9739-29bc4314a721.png)

[2022-10-02 17:53] ykdojo commented on #224
I'll leave some comments on some of the design by @CamilingJS, @nateemerson.

First of all, I really like this one:
![image](https://user-images.githubusercontent.com/1811651/193468284-3dd5c14c-f3bf-4443-9265-840685a9e176.png)

It's friendly, has fangs, and it looks like it's smiling?

I wonder if there could be slight variations on it, though.

I'm thinking no gradient, less tilt, slightly differ

[2022-10-02 18:00] ykdojo commented on #216
@adilwahla thank you so much. Would you like to take this issue though?

[2022-10-02 18:06] ykdojo commented on #232
@aakashraj01 feel free to take a look through the existing ones.

Even if there's someone assigned to an issue already, if there's no update on it for a few days, feel free to ask the maintainers if you can be assigned, as well.

[2022-10-02 18:13] ykdojo commented on #182
@Gulshanaggarwal got it.

What do you think of reverting back to your original implementation of simply using html `datalist` then?

[2022-10-02 18:14] ykdojo commented on #74
@ashishcas I don't think we have any mockup for it yet. Would you like to try making one?

[2022-10-02 18:38] ykdojo opened #240 "[DX] Figure out how to make a local backup"
### Description

Now that we have more questions in our production database (ref: #232), we should figure out how to make a local backup.

Current plan: follow [this](https://ironeko.com/posts/creating-a-local-backup-of-a-supabase-database).

[2022-10-02 18:57] aakashraj01 commented on #240
Hey @ykdojo Can you assign me this issue under Hacktoberfest 2022 label? I would love to contribute in this issue

[2022-10-02 20:22] imran1509 commented on #232
How to check if my questions are approved or not?

[2022-10-02 23:45] CamilingJS commented on #224
@ykdojo sounds good. Can you provide the color hex code for the color, an angle in degrees to change up the tilt, and more specifics on eye shape you are  envisioning for it?

[2022-10-03 01:01] ykdojo commented on #224
@CamilingJS hmm could you try the deepest color without the gradient and maybe 5-10 degrees less for the angle?

Or if you could put the raw file here, I'd be happy to try to make those changes myself, too.

[2022-10-03 04:51] CamilingJS commented on #224
@ykdojo here is the vector design file.

[defaangV2.zip](https://github.com/ykdojo/defaang/files/9694713/defaangV2.zip)

[2022-10-03 06:05] Gulshanaggarwal commented on #182
Yes, @ykdojo @subhoghoshX otherwise do you have any suggestions to make it more better than html datalist? I think html datalist are fine for now. Give me a shootup if you want me to revert it to html datalist.

[2022-10-03 07:14] adilwahla commented on #216
Sure if you give me bit direction as well 🤠

[2022-10-03 10:21] ykdojo commented on #224
@CamilingJS thank you! Any chance you could put it in an SVG format or something similar? I'm not sure if I have a way to open a .afdesign file.

[2022-10-03 17:31] #237 closed

[2022-10-03 17:32] ykdojo commented on #232
@imran1509 we don't have a feature for letting people know about it yet. I'll let you know manually though.

[2022-10-03 17:33] imran1509 commented on #232
Okay hen i will add my name in contributors
Let me know when they get approved

[2022-10-03 17:35] ykdojo commented on #232
Sounds good. I'll merge them as soon as the interview questions are approved.

[2022-10-03 17:36] epicadidash commented on #182
@ykdojo we can use vanilla html and we can `usereducer()` for updating state

[2022-10-03 17:41] ykdojo commented on #216
@adilwahla how would you approach it if it were up to you?

[2022-10-03 17:46] ykdojo commented on #182
@epicadidash can you elaborate on what you mean exactly?

[2022-10-03 17:47] subhoghoshX commented on #182
Hey, @Gulshanaggarwal if you're facing issues with combo boxes feel free to revert back. I'll try to implement the combo boxes when I've time.

[2022-10-03 17:49] ykdojo commented on #240
Update:

I tried the methods described in [the blog post](https://ironeko.com/posts/creating-a-local-backup-of-a-supabase-database), but it didn't quite work - I got a connection error.

I used pgAdmin and it seems like I was able to get a backup, but I had trouble restoring the production/dev databases from the backups, too.

[2022-10-03 19:22] adilwahla commented on #216
@ykdojo i would make button size increased horizontally and upon successful question submission it will turn green else red your thoughts please!
open to suggestions as well

[2022-10-03 21:18] adilwahla commented on #216
used submit message ...can make div pretty
![Screenshot (23)](https://user-images.githubusercontent.com/48839911/193684233-b1e3ce16-de92-40be-bb35-fe9d6ddb0447.png)

[2022-10-04 00:49] ykdojo opened #243 "[DX] Switch to Firebase?"
### Description

Relevant discussion: https://github.com/ykdojo/defaang/discussions/242

[2022-10-04 00:51] ykdojo opened #244 "[DOCS] Remove a link to my tweet from README"
### Description

We had a link to my original tweet about this project in README, but I don't think it's necessary to have it there anymore.

[2022-10-04 00:59] Sammydepoj commented on #244
HI, i will like to work on this, kindly assign me

[2022-10-04 05:00] CamilingJS commented on #224
Hi @ykdojo, here's the svg.
![defaangV2](https://user-images.githubusercontent.com/55357003/193738092-e43d6674-5bf5-43f1-8ada-f16300bda8c5.svg)

[2022-10-04 06:17] ashishcas commented on #74
I dont have much expertise in making mockups , but will try that

[2022-10-04 06:22] Gulshanaggarwal commented on #182
@subhoghoshX ok I will be sending a PR with old html datalist. If you can give a hint how you will take advantage of react-form-hook over comboboxes that would be a great help.

[2022-10-04 06:50] CamilingJS commented on #224
Slightly different angle:
![defaangV2B](https://user-images.githubusercontent.com/55357003/193752897-48ba5839-9c78-4672-918f-9e919e74b811.svg)

[2022-10-04 07:58] epicadidash commented on #216
It will not look good , We can show it at the top instead

[2022-10-04 10:23] aakashraj01 commented on #240
I also tried but error is coming always.

[2022-10-04 16:02] rupali-codes opened #246 "[BUG] Colors are Not applying for each element in *How it works* section"
### Description

Some elements are showing as Gray in Desktop mode in [How it works](https://defaang.io/#how-it-works) section. I've attached the screenshots below

### Screenshots

### Desktop view
![Desktop View](https://user-images.githubusercontent.com/78981177/193867807-b108e6fd-e3e4-4e9d-999a-4705689674f5.png)

### Mobile view
![Mobile View](https://user-images.githubusercontent.com/78981177

[2022-10-04 16:04] #246 closed

[2022-10-04 17:55] ykdojo commented on #224
Thank you! Comparing that one to the original one, I do like the gradient now:
![image](https://user-images.githubusercontent.com/1811651/193887415-9929e984-ef9c-4d08-8fd9-6e1d1c7796f0.png)

I'm having trouble with the SVG though, on Figma.

What app did you use originally?

[2022-10-04 17:59] ykdojo commented on #216
@adilwahla what do you think of transitioning to a different page entirely?

[2022-10-04 19:07] adilwahla commented on #216
ok new page should show message like "Successfully submitted" would you like to add more questions? ->button to come back
does it makes sense?

[2022-10-05 01:08] ykdojo opened #249 "[FEATURE] Add a Twitch link on the landing page"
### Description

It should be added here as a second CTA:

![image](https://user-images.githubusercontent.com/1811651/193957249-e7e38f6a-1673-4fe4-b7b7-c94aa8bfda4d.png)

The Twitch link is in README.

[2022-10-05 04:25] CamilingJS commented on #224
@ykdojo I'm using Affinity Designer
![defaangV6](https://user-images.githubusercontent.com/55357003/193981120-f91b6ae9-1af3-49b6-9ff3-27a293d8f654.svg)

[2022-10-05 04:45] CamilingJS commented on #224
@ykdojo Is this sufficient enough to add myself as a contributor? I can continue working on the logo design as you request them.

[2022-10-05 09:06] epicadidash commented on #216
Yes

[2022-10-05 09:27] Tamanna-S commented on #232
may i add some great questions @ykdojo

[2022-10-05 11:48] kirtanchandak commented on #249
Can I work on this issue ?

[2022-10-05 14:12] adilwahla commented on #216
@ykdojo  its done ! please have a look I am opening PR

![Screenshot (25)](https://user-images.githubusercontent.com/48839911/194082030-0ea5ae1d-49d4-4be0-b1c2-d76aaeb06fa4.png)

[2022-10-05 14:22] sohamdata opened #252 "[FEATURE] Highlight email input if its wrong."
### Description

Highlight email input if its invalid (e.g. name@example. ). Also display a message below email input.
(very simple but I would be happy to contribute :) )

[2022-10-05 14:24] sohamdata commented on #252
demo:
![inputEmail](https://user-images.githubusercontent.com/78294692/194084526-4e8ff410-b6a5-4f28-988e-f32c1180be04.gif)

[2022-10-05 14:43] adilwahla commented on #216
please check out i have made video
https://www.awesomescreenshot.com/video/11525877?key=371821889405da656419b58003392b21

[2022-10-05 15:20] adilwahla commented on #216
followed this & i am just thinking we can add this transition to when every page to page transition on dynamic route! does it makes sense

[2022-10-05 16:17] sohamdata opened #254 "[FEATURE] Add a scroll to top button"
### Description

 [FRONTEND] Add scroll to top button. I'd be happy to contribute.

[2022-10-05 16:23] sohamdata commented on #254
demo:
![scrollToTop](https://user-images.githubusercontent.com/78294692/194111584-db5bc3cc-f48f-4272-b96a-2d82a8f6b041.gif)

[2022-10-05 16:36] Akshay1018 commented on #215
Shall I take this issue? I can fix it before next week.

[2022-10-05 17:37] Akshay1018 opened #255 "[FEATURE] Must add loading/ popup for confirmation on Submit a Question page (https://defaang.vercel.app/questions/new).."
### Description

We need to add a new feature for submitting a question. I tried to add the new question that was recently asked by Google and after clicking on submit button there is no success confirmation to the user. My suggestion is to add a popup or loading-on button for better user interaction.

[2022-10-05 17:50] ykdojo commented on #232
@Tamanna-S of course! Thank you

[2022-10-05 17:51] Akshay1018 commented on #255
I will add this feature ASAP. If you don't mind, shall I take this issue?

[2022-10-05 17:53] ykdojo commented on #252
Looks good! Thank you

[2022-10-05 17:57] ykdojo commented on #216
Checked the video. After the transition, I think it should go to a separate page to indicate that the question has been submitted successfully?

[2022-10-05 17:58] Sourz-101 commented on #232
can I add some questions @ykdojo

[2022-10-05 17:58] ykdojo commented on #254
Thank you, but I don't think it's necessary to have this feature.

[2022-10-05 18:00] ykdojo commented on #215
Sure, anyone who gets to it first can take it, to be honest. Make sure to communicate your progress as you go, though.

[2022-10-05 18:11] ykdojo commented on #224
@CamilingJS of course! Thank you.

I feel like this one's almost there:

![image](https://user-images.githubusercontent.com/1811651/194131446-3e58fadd-6853-42b6-9cff-b9e73271301c.png)

Any chance you could make one of the fangs slightly larger (probably the one on the right) so they will look a bit more like fangs?

Or, alternatively, I guess I can get Affinity Designer and try that myself, too.

[2022-10-05 18:15] ykdojo commented on #255
There's a duplicate issue for this. Mind finding it and closing this one?

[2022-10-05 18:15] ykdojo commented on #232
@Sourz-101 of course

[2022-10-05 18:18] gauriimaheshwarii commented on #249
Hi, can I work on this issue?

[2022-10-05 18:19] ykdojo commented on #249
@devXprite is working on it

[2022-10-05 18:20] Akshay1018 commented on #255
Oops, my bad. I did'nt see this issue. You can close it. If you don't mind shall I take this feature to add?

[2022-10-05 18:20] Sourz-101 commented on #232
PR Title Checker / check (pull_request_target) Failing after 4s
this check is failing
how can I correct this
@ykdojo

[2022-10-05 18:21] ykdojo commented on #255
@Akshay1018 sure, someone is already working on it, but we could have an alternative approach to that one.

[2022-10-05 18:21] ykdojo commented on #232
@Sourz-101 can you read through CONTRIBUTING.md?

[2022-10-05 18:28] Akshay1018 commented on #255
@ykdojo cool, So, shall I go ahead and work on it or you want me to hold and we can discuss some other alternative approach to fix this issue? I hope we are on the same page.

[2022-10-05 18:42] ykdojo commented on #255
@Akshay1018 can you discuss this with the other person and figure it out amongst yourselves?

[2022-10-05 18:49] Akshay1018 commented on #255
Sure, thanks.

[2022-10-05 18:51] Eugene44-hub opened #260 "[FEATURE] Description"
### Description

Add a nice Pop up alert when users sign in

[2022-10-05 18:57] Akshay1018 commented on #216
My suggestion is to add a popup for the successful confirmation and we can add the button(Add more?) on the popup So that users can add more questions. If the user clicks on Add more we will redirect to the /questions/new page.

[2022-10-05 19:00] Akshay1018 commented on #216
@ykdojo My approach is to check the status of the response that we are getting after making an API call on submitting the form. If the response status is 200 then we can show the Modal(i.e. popup) otherwise errors will be displayed.

[2022-10-05 19:05] adilwahla commented on #216
sure I will  update it

[2022-10-05 19:36] rupali-codes opened #261 "[FEATURE] Adding back button in signup and signin pages"
### Description

When user clicks on *Signup* Or *Signin*, there's no way to go back to site unless we manually edit URL itself. It would be better if we add a back button there ( More better: defaang logo).

[2022-10-06 00:37] #255 closed

[2022-10-06 00:42] ykdojo commented on #260
This is a duplicate of [this one](https://github.com/ykdojo/defaang/issues/140).

[2022-10-06 00:42] #260 closed

[2022-10-06 00:50] ykdojo commented on #216
@Akshay1018 that approach might work, too. @adilwahla, what do you think?

[2022-10-06 01:28] #249 closed

[2022-10-06 01:30] ykdojo commented on #232
@imran1509 just checked the question - looks good! Thank you

[2022-10-06 02:02] ykdojo opened #262 "[FEATURE] Make a progress bar"
### Description

We are going to officially launch the website when we have 100 approved questions.

Until then, we should show a progress bar showing how many of them have been approved on the landing page.

[2022-10-06 02:10] ykdojo opened #263 "[FEATURE] Discuss questions"
### Description

There should be a way for users to discuss a question and suggest answers to it.

[2022-10-06 02:39] CamilingJS commented on #224
@ykdojo Here you go
![defaangV7](https://user-images.githubusercontent.com/55357003/194201924-663e59af-4d60-41b0-bf91-425fb4364cf2.svg)

[2022-10-06 03:16] adilwahla commented on #216
yes sure

[2022-10-06 03:47] ykdojo commented on #224
@CamilingJS thank you so much!!

One last thing - what do you think of changing DF to df to match how defaang is lowercased?

Does it look better when it's DF?

[2022-10-06 04:10] CerealPlayer commented on #243
I don't think it's necessary.

If you are facing issues with Auth (which is something I've always dealt with in Supa) we can go for the good old NextAuth and manage users on our own. This opens up the posibility to manage Auth with NextAuth and Prisma once we have that setup, which will create just one workflow.

[2022-10-06 04:51] CamilingJS commented on #224
@ykdojo Here you go:
![defaangV8](https://user-images.githubusercontent.com/55357003/194217009-9a5fede9-6e5e-4bcd-89c2-af33f02cd7de.svg)

[2022-10-06 05:05] Tamanna-S commented on #232
hey @ykdojo koko eating banana is a famous interview question but the process of submitting a question is difficult as i haven't gave any interview yet and it is asking for location, position and many more, what should i do?

[2022-10-06 05:22] CerealPlayer commented on #180
Update

I started working on this but after going through the supabase.sql and looking at the cross schema references I can already say this will not work.
Prisma doesn't support cross schema referencing ([see here](https://github.com/prisma/prisma/issues/1175)) when introspecting databases, so unless we go for a different approach (such as handling auth on our own) we won't be able to use Prisma.

[2022-10-06 05:22] #180 closed

[2022-10-06 05:30] CerealPlayer commented on #215
Yeah @Akshay1018 you can take care if you want 👍

[2022-10-06 05:42] Akshay1018 commented on #216
@ykdojo shall I take this issue and work on it?

[2022-10-06 05:44] Akshay1018 commented on #215
@CerealPlayer @ykdojo  Thanks. I will update the progress.

[2022-10-06 09:13] ShorunTech opened #268 "[FEATURE] How it Works Section to be a Responsive card"
### Description

-- To help users focus on specific content very conveniently
-- Makes the content reasonably and concisely.

![Screenshot (165)](https://user-images.githubusercontent.com/61280687/194273534-61cb9bef-65ea-4e22-a5e0-28d314b66c08.png)

[2022-10-06 09:15] ShorunTech commented on #268
looking forward to work on this feature, if assign to me.

[2022-10-06 17:03] ykdojo commented on #224
Just tweeted [this](https://twitter.com/ykdojo/status/1578067514185351168) to get some feeback.

[2022-10-06 17:31] ykdojo commented on #232
@Tamanna-S every question on the site should be something that was asked at a specific company at a specific time.

If you know about a specific instance where this question was asked, feel free to add it with those details then.

[2022-10-06 17:48] imran1509 commented on #232
Okay thanks so now adding myself to contributors.md

[2022-10-06 17:58] imran1509 commented on #232
Will it be accepted for hacktoberfest?

[2022-10-06 18:05] ykdojo commented on #232
@imran1509 I'm not sure exactly. I think that's up to the Hacktoberfest organizers.

[2022-10-06 18:07] imran1509 commented on #232
Okay but if you think yes than i think you also as a maintainer have to add hacktoberfest label to the PR

[2022-10-06 18:10] ykdojo commented on #262
Yes, I think something like that might work well.

[2022-10-06 18:11] imran1509 commented on #232
Okay

[2022-10-06 18:13] ykdojo commented on #216
@Akshay1018 please decide with @adilwahla, but yes feel free to start working on it

[2022-10-06 18:19] jengkhaw95 commented on #262
Sounds great! Can I pick up this one? 😁

[2022-10-06 18:23] ykdojo commented on #262
of course!

another idea I had is to do it step by step.

for example: get to 10 approved questions to *unlock* something, get to 25 to unlock more, etc.

[2022-10-06 19:04] ykdojo commented on #243
Didn't see those helpers before, thank you! Is there a way, with those helpers, to use an admin-level access Supabase client in an API route? I guess we could just initialize that separately in the API itself?

Managing users on our own makes sense, too. I feel like the question then would be - why would we use Supabase in the first place then?

[2022-10-06 19:04] jengkhaw95 commented on #262
I like the idea of the multi-step progress bar that unlocks different stuff at each stage!

I will work on a multi-step progress bar.
And also, set a 1 step progress (hard-coded to 'Launch' at 100 approved questions) for now.

Maybe we can figure out **what** to _unlock_ & **where** to store the _milestones_ (hardcode them OR in the database) along the way.

[2022-10-06 19:13] ykdojo commented on #262
Sounds perfect! Thank you so much

[2022-10-06 19:16] adilwahla commented on #216
![Screenshot (26)](https://user-images.githubusercontent.com/48839911/194399576-693338e6-08f2-460b-85ec-bd346930dc03.png)

[2022-10-06 19:18] adilwahla commented on #216
@Akshay1018 together we will add value to DEFAANG I love pair Programming <3

[2022-10-06 19:53] adilwahla commented on #216
@ykdojo checkout please
https://www.awesomescreenshot.com/video/11558985?key=f6b3c2d268ed28298fb820b5c196deb5

[2022-10-06 20:05] Akshay1018 commented on #216
@adilwahla I looked at the video and the message is great but I'm a bit curious to know do we need to show the success message on a different route(/success). why not be on the same page?

[2022-10-06 20:19] adilwahla commented on #216
@adilwahla the reason is we want to make question submit flow better &  that the user should feel like he has achieved something what he intended for @ykdojo  has similar suggestions !
Now one point is raised should we add another button for back to home if user doesn't chose to submit another question @ykdojo  your thought? plz

[2022-10-06 20:28] Akshay1018 commented on #216
![defaang](https://user-images.githubusercontent.com/62614172/194411187-8f1b72bc-7fae-473c-9c52-a087008b32f9.png)

[2022-10-06 20:28] Akshay1018 commented on #216
@adilwahla this is how the page will look like. when you will click on submit, it will check the response code, and based on the success code it will show a message like this. By clicking on Add more? button it will land us on the same page.

If we are adding back button on the /success page then again we will be on the same page. I think we need to check whether we need an extra route or not, We

[2022-10-06 20:29] Akshay1018 commented on #216
I will style this popup by adding a success icon and button also.

[2022-10-06 20:34] adilwahla commented on #216
I did that previously but I think moving to new page is better idea i guess; it gives a better flow; just think for layman submitting question. Secondly Defaang is going to make further theme changes & i think new page suits
@ykdojo  can give better idea !

[2022-10-06 20:43] Akshay1018 commented on #216
@adilwahla Yes, I think two options we have now. @ykdojo any luck with this solution?

[2022-10-07 00:54] ykdojo opened #271 "[BUG] Figure out a better way to redirect from the question submission page"
### Description

When you try to go to the question submission page before logging in, you're redirected to the signup page.

This behavior is good, but with the current redirect method, the back button doesn't work.

Is there a better way to redirect to avoid this issue?

[2022-10-07 02:02] ykdojo commented on #271
@Olyno thank you. Did you try finding it yourself first?

[2022-10-07 02:52] Olyno commented on #271
Actually, i got a look in the code, and got confused by how Supabase was used. I'm not sure why you're using Supabase on the server side only, while you could use on the client.

I think the way to solve your issue would be to move the auth security on the server side, and remove the ``session`` object to use the ``user`` object from Supabase directly, using the Supabase auth helper. I can do it f

[2022-10-07 07:58] sanyamjain04 commented on #271
I have solved this issue in one line. Can I create a PR @ykdojo ?

[2022-10-07 09:11] Shivam-jainn opened #274 "[FEATURE] Hover effect for how it works"
### Description

![image](https://user-images.githubusercontent.com/90458496/194517319-f5489895-84d4-45e3-b70c-972ae941eade.png)

the other two columns have to be clicked for turning them blue , so i would like to change the color to blue on hover

[2022-10-07 10:31] CerealPlayer commented on #243
For your first question, I think it is possible, all about going through it. I guess if you still want to give it a change we can try it out.

For your second question. Mainly because of Postgres, the platform being good enough and also Realtime which I guess at some point we could make some good use of. Although it's clear to me that there's plenty of alternatives.

Also, Firebase relies on NoSQL

[2022-10-07 15:12] ykdojo commented on #271
This repo will hopefully help you understand it better: https://github.com/ykdojo/supabase-nextjs-simple-auth

[2022-10-07 15:49] ykdojo commented on #224
planning to ask which one people like more on twitch and twitter:
![image](https://user-images.githubusercontent.com/1811651/194595441-35570f52-ce7c-459a-b0ae-1334b7abbc8d.png)

[2022-10-07 15:55] ykdojo commented on #224
Looks like people like 1 more on Twitch - still waiting for twitter

[2022-10-07 15:59] ykdojo commented on #224
twitter: https://twitter.com/csdojo404/status/1578413470638551040

[2022-10-07 16:08] ykdojo commented on #274
I don't think that would add any significant value to this project.

[2022-10-07 16:08] #274 closed

[2022-10-07 16:31] CamilingJS commented on #224
Oh okay! I see what you mean by thickness of the ring now. The first one was intended for the favicon and so we have to make the ring thicker in order to make it more visible at very small scale. I think we can use both in various areas of the site.

[2022-10-07 16:32] Olyno commented on #271
I mean, look at the pr i did, this is completely different

[2022-10-07 16:33] ykdojo commented on #224
@CamilingJS it looks like people like the first one more though, both on Twitch and Twitter. Why don't we just go with the one they like more?

[2022-10-07 16:34] ykdojo commented on #271
@Olyno did you look though [this repo]([ykdojo/supabase-nextjs-simple-auth](https://github.com/ykdojo/supabase-nextjs-simple-auth)) though?

[2022-10-07 16:39] ykdojo commented on #243
Potentially, yes.

I honestly don't have a strong preference either way.

My impression was that the Firebase solution might be more straightforward, but if you want to go with the other solution, I think that could work, too.

The other concern I still have is the backup. I couldn't figure out a way to do that on #240 after doing some research.

[2022-10-07 16:40] #181 closed

[2022-10-07 16:45] ykdojo commented on #216
I think this one looks pretty clear:
![image](https://user-images.githubusercontent.com/1811651/194605075-b6dc6c3a-e429-4736-a9d4-9db86c5931a8.png)

[2022-10-07 16:46] JexXxika opened #276 "[FEATURE] Make the header fixed for easy navigation"
### Description

Fixed positioning will take good care of it

[2022-10-07 16:57] ykdojo commented on #276
I don't think this would add any value to this project because the landing page is currently small enough to scroll through.

[2022-10-07 16:57] #276 closed

[2022-10-07 17:05] Olyno commented on #271
I looked at the repo, and this one is exactly like the current one. Both repos use an authentication system on the client with local storage, which is a bad practice in my opinion.

Supabase provides many tools to make authentication simple, but you are using ``localStorage`` as verification, which is not secure at all.

[2022-10-07 17:14] Akshay1018 commented on #216
@ykdojo Thanks, I will test, commit the code, and will make PR soon. You can test on your end and merge.

[2022-10-07 17:45] ykdojo opened #277 "[CONTENT] Solve this problem and write out a solution for it. (or make a video)"
### Description

One of the approved questions we have was recently asked by Google, and it is this:

It'll be good to have a solution for this so we can display it on the website, and so we can make a video out of it.

[2022-10-07 17:46] ykdojo commented on #271
How would you recommend that we implement this then?

[2022-10-07 17:56] Olyno commented on #271
As I said, the best would be to use the tools that Supabase offers, and to make an authentication in SSR if you use a server part. If you use only client, in this case it should be privileged that the client, but it is not your case.

You can see the implementation I recommend in PR #272

[2022-10-07 18:03] ykdojo commented on #271
Thank you. I added a comment on #272

[2022-10-07 18:32] Rakteem007 commented on #277
can you assign this to me?

[2022-10-07 18:45] Akshay1018 commented on #277
The solution should be language-specific like python or is it ok with any language?

[2022-10-07 18:47] ykdojo commented on #277
it's ok with any language!

if we have solutions in multiple languages, it'd be even cooler I think

[2022-10-07 19:14] Akshay1018 commented on #271
https://user-images.githubusercontent.com/62614172/194637365-9692c409-3c48-4abf-b139-9c191ff73105.mp4

[2022-10-07 19:17] Akshay1018 commented on #271
I tried to solve it on my local machine. My approach is to take the session as a prop and white routing using href, add a ternary check if the session is there then render an add question page otherwise signup page.

[2022-10-07 19:22] Akshay1018 commented on #271
Another way to resolve this issue is by adding private routes for the pages where we need the user should be logged in.

[2022-10-08 05:31] CerealPlayer commented on #240
Hey @ykdojo I managed to make this work on my copy of defaang db in Supa bootstraped with supabase.sql file.

Instead of using the connection string (which errors because it needs a tls certificate, it could still be done), I used the pooling connection string, which is below the connection string in the settings panel. Pooling must be enabled.

![poolingconnstring](https://user-images.githubuserc

[2022-10-08 05:35] CerealPlayer commented on #243
Whatever works, Iif we switch to Firebase I'm sure we can make it work, just a matter of preference.

Personally most projects I've done I used Supabase just as a Postgres db host and Prisma to manage everything db related. However whatever solution that can host a Postgres container will work too like ACI, ECS or Run.

Regarding backup, I just commented on #240

[2022-10-08 07:38] adilwahla commented on #263
**Lets design a better prototype first** any Suggestions/improvements? are highly appreciated :)

![Discuss](https://user-images.githubusercontent.com/48839911/194695998-844efb62-8e98-4dc5-a5a0-faa5699e85f1.jpg)

[2022-10-08 07:49] Rakteem007 commented on #277
@ykdojo sir , I fixed the issue

[2022-10-08 10:30] adilwahla opened #281 "[FEATURE] Embedding an online compiler/IDE into defaang for question submissions"
### Description

I would like to embed online compiler where almost major types of languages could be coded to compile the faang interview questions. fAANG do have many many question year/mon wise even with time stamps my question is how would that be managed? obviously we should introduce feature where people can code & that code must be filtered for syntax or runtime errors (if any) and must pas

[2022-10-08 18:07] ykdojo commented on #277
@Akshay1018 by the way, the question is much harder when there's the "update" option instead of just delete and add. Any thoughts about it? Should it be phrased in a two-stage way?

[2022-10-08 18:38] adilwahla commented on #216
@ykdojo  what if user doesn't want to further submit question & want to move on discussion page or home page ?
i think we should let users to navigate other pages as well your thoughts ?

[2022-10-08 18:40] ykdojo commented on #281
@adilwahla thank you so much for this.

This would be really cool, but I'd like to see if there are potentially other solutions for it.

I'm sure there are other online programming judging platforms, some of them open source. Any ideas?

[2022-10-08 18:47] ykdojo commented on #263
@adilwahla did you design all of this from scratch or did you copy some of it from somewhere else?

[2022-10-08 19:50] adilwahla commented on #281
I was surprised while searching yes there are many many options available that are open source
✨ Simple, free and open-source online code editor.

[Repository](https://github.com/judge0/ide) found from this one

checkout this link [ide.judge0.com](https://ide.judge0.com/)
should i start working on getting things in line to integrate  ?

[2022-10-08 19:59] adilwahla commented on #263
I am going to complete design on figma (this one:  I have  designed little bit myself copied too) I will complete it but give me idea how you want it to look like? any changes, thoughts!

[2022-10-09 01:58] CamilingJS commented on #224
@ykdojo let's give the people what they want:
![defaangV9_logomark](https://user-images.githubusercontent.com/55357003/194734011-b93e5b40-99c7-426d-b354-ce3e7a21db50.svg)

[2022-10-09 02:42] CamilingJS commented on #224
@ykdojo Horizontal version:
![defaangV9_Horizontal](https://user-images.githubusercontent.com/55357003/194735113-70787428-de14-4212-aade-ef63fbdb8b1a.svg)

[2022-10-09 06:08] Akshay1018 commented on #277
@ykdojo Right, this question is hard because we need to return the minimum operations based on two conditions. Let's talk about the conceptual overview. I will take an example and try to return minimum operations.
example-1
input - ((()

intuition-1 we can add two parentheses at last and our total operation to make it valid will be 2 right?
( ( ( ) ) )
        ^^

intuition-2 Please observe we can

[2022-10-09 06:18] Akshay1018 commented on #216
@adilwahla if the user wants to add more questions, the user can click on "Add more?" button and will be rendered on the same page. Coming to the discussion page and home page, I think we need to add the navbar on every page, by clicking on the product logo, the user will be navigated to the home page. For the discussion section, we can add a separate card on the right side of the main section. @y

[2022-10-09 16:36] ykdojo commented on #224
Hmm I feel like that's a bit too cute and too complicated.

![image](https://user-images.githubusercontent.com/1811651/194768486-887fbf65-5e80-4277-b6d9-ca6da6b79d9d.png)

Based on the feedback we received from everyone, it seems like people like the first one with maybe slight modifications.

For example, I think this feedback might be valid:
![image](https://user-images.githubusercontent.com/181

[2022-10-09 17:12] ykdojo commented on #281
judge0 looks good! Not sure if there are comparable alternatives though.

However, at this point, I think we still have a lot of unanswered questions:

- How is it going to be integrated exactly?
- WIll defaang looks more like Leetcode or are we going to stick with more general questions (like Glassdoor)?

[2022-10-09 17:43] ykdojo commented on #243
Interesting. Using Supabase just as a DB host might work well.

Any reason why you prefer Postgres over other DB?

[2022-10-09 17:44] CamilingJS commented on #224
@ykdojo This feedback is not specific. The more we reference discord the more it will look like discord.

[2022-10-09 17:55] #271 closed

[2022-10-09 21:27] abdelopx commented on #215
@ykdojo will take this issue

[2022-10-09 22:40] ArkaPrabhaChowdhury opened #285 "[FEATURE] Add your coding platform profile while submitting question"
### Description

To avoid or reduce spam question submissions which are completely fake, we can add an input tag to the submit question form that asks the user their most used coding platform like Leetcode, CodeChef , GeeksforGeeks and so on. This will allow the admin to check whether the person has legit coding experience or not.

[2022-10-10 15:20] ykdojo commented on #224
I think this feedback is trying to say, we should flatten the color, and stylize the text in general, not in the specific way Discord did it.

Here's the link to the tweet containing that feedback, just in case: https://twitter.com/reactive_dude/status/1578416656396988416

[2022-10-10 15:36] ykdojo commented on #285
I don't think this is a good idea because we want the submission process to be as simple as possible and this would add extra friction to it. I think a better approach would be to have a better filtering process by moderators.

[2022-10-10 15:59] ykdojo commented on #216
@Akshay1018 sounds good! It's hard to tell without having a visual element though.

[2022-10-10 16:06] ArkaPrabhaChowdhury commented on #285
Would the moderators be limited? If not, another suggestion would be to create a login page for moderators. After logging in, the moderators can view the submitted questions. I would love to work on the authentication of the login.

[2022-10-10 16:13] CamilingJS commented on #224
@ykdojo You suggested you wanted to keep it gradient so we are flipping requirements back and forth. I recommend you provide a hex code for the color and we go with that. Ideally it is the Primary Color of your site.
![defaangV10_Options](https://user-images.githubusercontent.com/55357003/194910109-d669f0de-f21a-466d-bc4d-f714c355a938.jpg)

[2022-10-10 16:14] ykdojo commented on #285
Yes, that's how it should work.

We have an issue for it already: #75

[2022-10-10 16:22] ykdojo commented on #224
First of all, we don't have strict requirements for this. I think it's ok to be flexible.

The gradient is good in the current condition, but a flattened version could also work with a different color, I think - but it's hard to tell without seeing the specific color.

So far, we've received the best feedback on these two:
![image](https://user-images.githubusercontent.com/1811651/194911112-683301

[2022-10-10 16:23] Akshay1018 commented on #216
@ykdojo I'll work on it and update the progress.

[2022-10-10 16:24] Akshay1018 commented on #216
@ykdojo by the way, do we need a discussion section? if yes, then where it should be?

[2022-10-10 16:59] Ivanilson-Costa18 commented on #224
My concern with the current design is that it doesn't fit the atmosphere of the page, I think that something with just the letters feels better like the current one, for example:
![image](https://user-images.githubusercontent.com/56151958/194915941-dfd8e60c-d4ed-4850-834b-0dcad511cb82.png)

[2022-10-10 17:08] CamilingJS commented on #224
This is essentially Netlify's logo without the square. @ykdojo is looking for original and custom design that appears friendly and includes a fang or two.

[2022-10-10 17:31] CamilingJS commented on #224
@ykdojo No worries, I understand it's flexible. But in order for me to make changes I'm needing specific instructions on what changes you desire.

[2022-10-10 18:44] yaa-chi commented on #140
I don't think there's a need to have that either. We can have the loading screen somewhere else though👌🏾

[2022-10-10 18:56] adilwahla commented on #263
sure

[2022-10-10 19:00] adilwahla commented on #216
@ykdojo actually we need to add menu items in navigation bar >problems then submenu will have description>submission>Discusss>solution
should i make figma first?

[2022-10-10 20:34] adilwahla commented on #281
1) I think its pretty clear answer to first question about integration Lets suppose we agreed to integrate [ide.judge0.com](https://ide.judge0.com/)
we will use API to integrate in DEFAANG checkout
https://rapidapi.com/judge0-official/api/judge0-ce/
[Checkout Helping demo on medium here ](https://medium.com/dsckiit/make-your-own-online-compiler-in-react-%EF%B8%8F-b06bc29dd202)

2) we will focus on

[2022-10-11 04:19] subhoghoshX commented on #140
It's already being implemented in #284 XD

[2022-10-11 04:22] subhoghoshX commented on #140
It's already being implemented in #284 @yaa-chi XD

[2022-10-11 07:46] yaa-chi commented on #140
@subhoghoshX Just saw it, thanksss

[2022-10-11 15:17] ykdojo commented on #224
Right, totally understand.

It's just a challenge because it's hard to know what's going to work with the audience we're going to work.

I tried a Twitch poll again, and people seem to like the second one - which I like, too. So we could potentially go with it and see if it fits the current site.

[2022-10-11 15:35] ykdojo commented on #263
It looks okay, but I feel like it takes too many clicks and opens up too many new views.

Can you try to simplify it and put screenshots instead of a video here?

[2022-10-11 15:46] ykdojo commented on #281
@adilwahla sounds good. Perhaps we should focus first on compiling a solid list of interview questions then?

[2022-10-11 15:55] ykdojo commented on #240
@CerealPlayer sounds good. Were you able to restore a DB from that?

[2022-10-11 16:03] CerealPlayer commented on #240
Yes! it generated a dump.sql with all the info I had stored in my copy of defaang.

[2022-10-11 16:04] CerealPlayer commented on #243
It has a lot of features that make it really powerful, though that might make it more complicated. And also, Prisma 🤣

[2022-10-11 16:08] LokeshShelva commented on #75
what's the movement on this? I would like to contribute @ykdojo

[2022-10-11 17:12] Akshay1018 commented on #277
@ykdojo any thoughts on this?

[2022-10-11 17:13] CerealPlayer commented on #240
[This](https://github.com/supabase/supabase/discussions/773#discussioncomment-401840) helps. The best approach would be to pg_dump certain tables that we know are critical and then pg_restore only those, since a full pg_dump would backup all schemas, and supabase doesn't support creating an empty database yet.

[2022-10-11 17:17] ykdojo opened #290 "[DOCS] Add a link to the sponsors page"
### Description

It should look just like how it does [here](https://github.com/ykdojo/active-repos-for-contributing).

[2022-10-11 17:48] ykdojo commented on #277
@Akshay1018 I'll get back to you! I didn't have a chance to respond here yet

[2022-10-11 17:56] Akshay1018 commented on #277
@ykdojo cool! Take your time. Thanks.

[2022-10-11 20:29] adilwahla commented on #263
sure

[2022-10-11 20:34] adilwahla commented on #263
![2PREhk4Me6yQnhM9e6Lz5Y](https://user-images.githubusercontent.com/48839911/195192866-753627d9-4588-4625-b0b8-6f8b3421ca20.png)
![vPAZv5NJ7SFULVmFZjkcXj](https://user-images.githubusercontent.com/48839911/195192909-0ffdd627-f873-48b0-8448-6dae91989826.png)

![6BxBicCuybvMTcWSACSeAK](https://user-images.githubusercontent.com/48839911/195192928-9933d268-3742-404f-89ed-79b24ee2f4dc.png)

[2022-10-11 20:40] adilwahla commented on #263
if you think to make more simpler then don't consider 2nd screenshot and just think all users can discuss in the form of chat where anyone can come & reply or enquire about questions

[2022-10-11 20:44] adilwahla commented on #290
okay just resolving

[2022-10-12 05:01] CamilingJS commented on #224
Here's are 3 mockups of the second one. I think it looks pretty cool seeing it on the site.
![defaang-logo-mockupV3](https://user-images.githubusercontent.com/55357003/195253882-7420b2e2-e52d-48df-8d0b-d398bb8e48a7.PNG)
![defaang-logo-mockupV1](https://user-images.githubusercontent.com/55357003/195253888-a32f8a39-a21b-45bb-b155-f85636365bbc.PNG)
![defaang-logo-mockupV2](https://user-images.githubu

[2022-10-12 07:29] adilwahla commented on #281
sure, start accepting questions with strict filter( manually may be) to ensure questions are out of real interviews (not list of blind 75 :) maintain uniqueness ) once a list of questions is finalized then again start accepting submissions. Engage Faang aspirants by making yt videos with other ex-faang  youtubers on PREPARE INTERVIEW WITH OPENSOURCE SIDE BY SIDE

DEFAANG WILL BE A GREAT WAY TO PRE

[2022-10-12 15:07] adilwahla commented on #290
Thanks for assigning me  PR is already opened please accept it

[2022-10-12 15:11] #290 closed

[2022-10-12 15:19] ykdojo commented on #224
I think the second one fits the best. The font is a little too thick, and the icon can be a little smaller, though. It might be also good to play with the color a bit to see what works the best.

[2022-10-12 15:40] ykdojo commented on #281
Starting it side by side might actually be ok. Perhaps we can start it as a separate branch to see how it goes?

[2022-10-12 15:44] ykdojo commented on #263
The main problem is that this is assuming there will be a compiler/IDE for every problem, but it's not always the case - for example, for DevOps questions or behavioral questions

[2022-10-12 15:49] ykdojo commented on #75
@LokeshShelva right now, no one's working on it.

[2022-10-12 16:18] adilwahla commented on #281
sure i think this might be a wonderful idea

[2022-10-12 16:28] ykdojo commented on #243
Right, that's my main concern.

The original reason why we went with Supabase was to keep everything as simple as possible.

With custom auth, Prisma and everything, it might be too complicated, though.

So based on all these, Firebase might actually be a good, simpler solution even though I know a lot of people are not huge fans of it.

What do you think?

[2022-10-12 16:30] ykdojo commented on #240
Got it. Backing up a database and restoring it seems like a pretty basic feature to have, though (I remember I had it in Heroku when I was using it).

[2022-10-12 16:50] ykdojo commented on #277
Are you saying we need to return an integer from this function? Because if that's the case, the problem would be much easier, and honestly more realistic as an interview question.

"when to use the operation to return the minimum"

^Can you clarify what you mean by that exactly?

Other than that:

This sounds good!

[2022-10-13 01:05] ykdojo opened #295 "[DX] Go through the issues & PRs"
### Description

Go through the issues & PRs, then follow up on / close the ones that have been inactive for more than a few days.

If you'd like a green square for this contribution, when you do a few of these, add yourself to CONTRIBUTORS.md.

[2022-10-13 01:12] Princeton21 commented on #295
@ykdojo  I'd like to work on this

[2022-10-13 01:13] Princeton21 commented on #295
But i guess you will have to give me access for the repository,
inorder for me to close them

[2022-10-13 01:14] ykdojo commented on #295
You can try to follow up first, and if there's no response, you can tag me and let me know

[2022-10-13 01:15] Princeton21 commented on #295
Alright👍

[2022-10-13 01:24] AryanBabber opened #298 "[FEATURE] Adding a "sign in" besides "sign up today""
### Description

There is a "sign up today" button and to make the returning users' experience better, a "sign in" button beside the sign up button (preferably to the left of the sign up button).

[2022-10-13 01:52] jeoffreyduke commented on #298
i could work on this

[2022-10-13 02:57] AryanBabber commented on #298
Go on then @jeoffreyduke. It's open for all

[2022-10-13 05:50] CerealPlayer commented on #243
I tried Firebase just a couple of times on some side projects so I can't say I have enough experience with it. I had the feeling it was a bit similar to supa.

Let's see what everybody else has to say :)

[2022-10-13 14:35] Princeton21 commented on #221
@ykdojo I feel this issue can be closed now.

[2022-10-13 14:54] Princeton21 commented on #182
@Gulshanaggarwal what's the update on your issue?

[2022-10-13 15:29] ykdojo commented on #298
I don't think it's necessary to add it there. If people want to sign in, they click the sign up button and click sign in there.

[2022-10-13 15:41] ykdojo commented on #221
@Princeton21 we should still change the favicon right? Or is it already fixed?

[2022-10-13 15:48] ykdojo commented on #243
@CerealPlayer sounds good!

[2022-10-13 15:56] ykdojo opened #300 "[DX] Research on Firebase features"
### Description

Get ready to migrate to Firebase by doing some research - in case we actually decide to go with it. Related: #243

[ ] How to do migrations?
[ ] How to get a schema and create a new environment based on it?
[ ] How to protect an API path and use admin-level access in it
[ ] What's the pricing model?
[ ] Any other potential issues?

[2022-10-13 16:56] #298 closed

[2022-10-13 17:06] MaruthiKo opened #301 "Adding an Owl Carousel to How it Works section"
### Description

I think it is a better idea to convert the `How it works` section into an owl carousel, instead of a grid

[2022-10-13 23:37] Princeton21 commented on #221
Yeah I guess it is fixed in #266
and I felt that both issues #224 and this focus on the same problem

[2022-10-14 00:47] Princeton21 commented on #183
@ykdojo Kindly close this issue.👍

[2022-10-14 15:19] ykdojo commented on #301
I'm not sure how it would add much value to the project.

[2022-10-14 15:19] #301 closed

[2022-10-14 15:23] #221 closed

[2022-10-14 16:09] Gulshanaggarwal commented on #182
The solution I implemented was not so eye catching according to @ykdojo & although I implemented using Combobox but still a problem was here, I was not able to take advantage of react-hook-forms. So there is no updates after that.

[2022-10-14 16:19] ykdojo commented on #182
I feel like we can go with the pure HTML solution for now since it seems easier to implement?

Then, later, we can switch to something that looks nicer if anyone wants to send a PR for that.

[2022-10-15 04:33] Akshay1018 commented on #277
@ykdojo When we get the minimum number of operations to solve this problem then we can easily create the valid parenthesis using backtracking.
From the above example, we know that using only one operation `n =1` we can solve the problem. The valid parenthesis we can make is `2n` `2 x 1`, with two open and two closed parentheses. There are no restrictions on the order, we can return the parenthesis

[2022-10-15 04:35] Akshay1018 commented on #277
I can say this is two step process/solution:

[2022-10-15 16:06] TAKANOME-DEV commented on #243
Hi everyone, here are some differences between firebase and supabase:
- With Supabase, we can easily import a CSV or copy and paste a spreadsheet to kickstart the project. Firebase doesn’t offer inbuilt services that enable us to directly upload bulk data.
- [Firebase charges for reads, writes and deletes](https://firebase.google.com/pricing), which can lead to some unpredictability, especially in

[2022-10-15 16:14] ykdojo commented on #277
Sounds good.

I think we can split it into two problems then, if it's with you.

The first problem will ask you to output the min # operations.

The second one, with the same setup, will ask you to output a list (or a set) of end-state valid parenthesis strings.

[2022-10-15 16:17] ykdojo commented on #243
@TAKANOME-DEV right, thank you for the overview. Any thoughts on [this discussion](https://github.com/ykdojo/defaang/discussions/242) or [this issue](https://github.com/ykdojo/defaang/issues/300)?

[2022-10-15 16:50] Akshay1018 commented on #277
Exactly, we can say the second one is `follow up` `output a list (or a set) of end-state valid parenthesis strings`.

[2022-10-15 17:53] adilwahla commented on #300
working on it will submit shortly

[2022-10-15 18:45] adilwahla commented on #263
will make changes & update you

[2022-10-15 18:49] #262 closed

[2022-10-16 05:39] Gulshanaggarwal commented on #182
Ok @ykdojo then let's go back with the html datalist again.

[2022-10-16 15:25] Princeton21 commented on #285
@ykdojo  I feel this issue can be closed

[2022-10-16 16:05] #285 closed

[2022-10-17 15:30] #182 closed

[2022-10-17 15:36] ykdojo commented on #300
@adilwahla thank you. Perhaps I should've clarified this earlier, but what I meant by migrations is migrations within a Firebase project, not a migration from Supabase to Firebase.

[2022-10-17 17:33] Akshay1018 commented on #277
@ykdojo Sure, I'll write and update ASAP.

[2022-10-18 15:18] ykdojo commented on #277
@Akshay1018 cool, thank you so much!

[2022-10-18 19:06] adilwahla commented on #263
Here goes System Design mockup (all tabs will have questions to be filled within given time)
![systemDesign](https://user-images.githubusercontent.com/48839911/196521034-eed8ca3f-3788-4048-b2dd-c823c8d3d7ad.png)

[2022-10-18 22:44] ykdojo opened #306 "[DX] Copy over the project board to this new org."
### Description

I created this new org (csdojo-defaang) to house all relevant projects here.

However, it seems like [there's no easy way to copy a project board to an org](https://github.com/community/community/discussions/36598).

So, we'll probably need to manually copy everything in [this board](https://github.com/users/ykdojo/projects/1/views/1) to a new board here.

[2022-10-19 11:24] khanhtranngoccva opened #307 "[FEATURE] Enable Google OAuth 2.0"
### Description

I'd like to use Supabase Auth to enable users to sign in and/or sign up with just 1 click using Google OAuth.

[2022-10-19 15:45] subhoghoshX commented on #307
We already have PR #94 implementing it. It's not at the top of our priority list right now, but it might be in the future. You can read more about it [here](https://github.com/csdojo-defaang/defaang/pull/94#issuecomment-1221810115).

[2022-10-19 16:15] ykdojo commented on #306
@subhoghoshX let me do that right now

[2022-10-19 16:21] ykdojo commented on #306
Done: https://github.com/orgs/csdojo-defaang/projects/2/views/1

[2022-10-19 16:26] ykdojo commented on #263
Thank you, the thing with this design is that it's very specific to a system design question. But we should really design it so that it works for any type of question. Any thoughts about that?

[2022-10-19 17:01] ykdojo commented on #74
Inspiration #1: reddit

![Image](https://user-images.githubusercontent.com/1811651/196756736-df54c228-c37c-4e14-983c-9c4c6169d303.png)

[2022-10-19 17:34] Akshay1018 opened #309 "[FEATURE] Design for View Questions [How it works]"
### Description

@ykdojo Any design for the View questions section? Please purpose some designs for that page so that we can take it forward. I think this section will be more interesting and more complicated too because it will contain the question, category, hints, scratchpad, and discussion section where users will get to know the other's opinions and strategic thinking for the specific questio

[2022-10-20 12:30] epicadidash commented on #306
Would love to do that @ykdojo

[2022-10-20 16:01] ykdojo commented on #306
@epicadidash thanks! I tried to add you as a collaborator on the project, but GitHub wasn't letting me for some reason.

@subhoghoshX I made you an admin - do you want to try adding @epicadidash on your end?

[2022-10-20 18:19] subhoghoshX commented on #306
Thanks, @ykdojo. I don't appear to have any escalated access or access to any new tab or something.

[2022-10-20 18:29] ykdojo commented on #306
I meant the project. There's no place to add a new collaborator there?

[2022-10-20 18:34] subhoghoshX commented on #306
Ah, now I see. But no worries, I just moved the projects myself.

[2022-10-20 23:37] ykdojo commented on #306
Thank you so much @subhoghoshX!

[2022-10-20 23:38] ykdojo opened #311 "[DOCS] Update the project board link in CONTRIBUTING.md"
### Description

Now that our project board has been moved from a personal account to this org account (#306), we should update the link in CONTRIBUTING.md accordingly.

[2022-10-20 23:53] Frey0-0 commented on #311
I would like to take this issue @ykdojo

[2022-10-20 23:57] Frey0-0 commented on #311
please also provide reference to the link you are talking about here

[2022-10-20 23:59] ykdojo commented on #311
@Frey0-0 can you do your best to find it yourself?

[2022-10-20 23:59] Frey0-0 commented on #311
okay I will try @ykdojo assign me the issue

[2022-10-21 00:49] Frey0-0 commented on #311
@ykdojo It was very easy haha I have linked a PR to this issue. Please review it.

[2022-10-21 01:01] Frey0-0 commented on #311
I think I have completed this issue, it was actuallyy easy @ykdojo please review it

[2022-10-21 06:14] #306 closed

[2022-10-22 05:05] subhoghoshX opened #315 "[PRODUCTION] Number of approved questions is not being reflected in the site"
The project was recently transferred to this new organization, but Vercel might still be looking at the old address and not be able to deploy the current site. The Vercel bot, which provides feedback and previews, is also down. @ykdojo You may need to redeploy the project and create another one.

[2022-10-22 06:14] ykdojo commented on #315
Thanks @subhoghoshX! I'll look into it

[2022-10-22 06:27] adilwahla commented on #263
@ykdojo  any luck with this  mockup? your thoughts ? covers each category of questions helps filtering too & simple UI

![main-image](https://user-images.githubusercontent.com/48839911/197323774-66d54340-77ed-4194-aacc-00f947c74525.png)

![chat-page](https://user-images.githubusercontent.com/48839911/197323639-bf9c5362-42ea-4037-a9d6-1df5051152e9.png)

[2022-10-22 19:51] Akshay1018 commented on #277
Brute Force Solution:

Step-1 counts a minimum number of operations to make parenthesis valid.

`class Solution {
    public int minimumOperations(String str){
        if(str.length() ==0){
            return 0;
        }
        int addOperations = 0;
        int deleteOperations = 0;
        int replaceOperations = 0;
        //check if string is well nested then return as-is
        if(isValidS

[2022-10-22 20:04] Akshay1018 commented on #277
Step -2 Generate Valid parenthesis with minimum count and return the result

class Solution {
    public List<String> generateValidParenthesis(int num){
        List<String> res = new ArrayList<>();
        backtrack(res, num, 0, 0, "");
        return res;
    }
    public void backtrack(List<String> res, int max, int close, int open, String curr){
        if(res.size() == num*2){
            res

[2022-10-22 20:05] Akshay1018 commented on #277
@ykdojo Please check this solution. This is a brute force approach, we can optimize this solution, and let me know your thoughts on it. Thanks.

[2022-10-22 23:45] ykdojo commented on #263
Thank you, I think it's a really good start. Looks like it's covering some of #74, too.

[2022-10-23 06:32] CamilingJS commented on #224
Rejected logo design. Closing issue.

[2022-10-23 06:39] CamilingJS commented on #224
Rejected logo designs.

[2022-10-23 18:19] adilwahla commented on #263
thanks when i can expect  start working on it?

[2022-10-24 15:42] Princeton21 commented on #210
@TreciaKS What's the update on your issue?

[2022-10-24 18:39] TreciaKS commented on #210
Excuse me for delaying, I've been so preoccupied with work
responsibilities.

I'll be sure to work on and close this issue as soon as possible. By
Saturday

On Mon, 24 Oct 2022, 17:42 Princeton21, ***@***.***> wrote:

[2022-10-25 22:35] CamilingJS commented on #224
What do you think about the logomark size and typeface thickness @ykdojo
![Defaang_Typface](https://user-images.githubusercontent.com/55357003/197894772-5c6de704-908f-4261-a65e-5c91fd35ef1f.jpg)

[2022-10-26 05:03] #311 closed

[2022-10-26 17:07] ykdojo commented on #277
@Akshay1018 thank you! I'll check it soon

[2022-10-26 17:19] ykdojo commented on #224
I think it looks good! [Let's use lowercase](https://github.com/csdojo-defaang/defaang/discussions/53), though.

[2022-10-26 17:40] Akshay1018 commented on #277
@ykdojo sure, please check on this and we will come up with an optimized solution.

[2022-10-26 17:50] ykdojo commented on #263
@adilwahla whenever you want to start!

[2022-10-26 17:50] Akshay1018 commented on #309
Okay, I'll look into that issue.

[2022-10-26 18:35] ykdojo opened #316 "[DX] Look into Railway as a potential DB & backend solution"
### Description

Related: #243, #300

[2022-10-26 19:14] mamonraab commented on #243
the main question here .. are we looking for a fully managed backend solution? or just DB?

putting in mind firebase is full backend solution ( so what in firebase you are more interasted in ) that can help make better solution

assuming you look for DB
another note is jumping from SQL DB to NoSQL  DB is deepened  on what best fit your project

are you need complex queries with a lot of joins and

[2022-10-26 19:24] mamonraab commented on #316
after looking in it pricing , i see it costly   https://railway.app/pricing

if only looking for db and management not issue , can use any vps and  will cost less

but if management is something you don't have time to do , the options will be less

also , i can help with servers managements

[2022-10-26 19:36] mamonraab commented on #300
[ ] How to do migrations (within Firebase)?
https://firebase.google.com/docs/firestore/manage-data/move-data

[ ] How to get a schema and create a new environment based on it?
iam not sure what the question is

[ ] How to protect an API path and use admin-level access in it
https://firebase.google.com/docs/projects/iam/roles

[ ] How to make a local backup
https://firebase.google.com/docs/database

[2022-10-26 20:12] adilwahla commented on #263
okay cool 👍

[2022-10-26 21:53] mamonraab commented on #277
here is my solution
the solution , will use 2 stack and 2 counters
for each closing case and open case
and will flip each close case if no open case for it and add it to open cases stack

https://gist.github.com/mamonraab/9d2d537bfc4537fb86219d8a3c70e7be

[2022-10-27 03:15] CamilingJS commented on #224
Here you go @ykdojo. Personally, I like it camel case but we can go with lowercase.
Let me know if I can create a PR on this logo design.
![final_revisions_defaang](https://user-images.githubusercontent.com/55357003/198182361-6f0e02ef-e686-4d71-a43e-44001770b26e.jpg)

[2022-10-27 14:28] ykdojo commented on #316
I don't understand some of the sentences. Do you mind rephrasing them so they're easier to understand?

[2022-10-28 05:39] ykdojo commented on #224
Looks good! I think the only thing is the color - what do you think is the best color for the current website design?

[2022-10-29 09:03] TreciaKS commented on #210
<img width="1222" alt="Screenshot 2022-10-29 at 10 59 21" src="https://user-images.githubusercontent.com/82657928/198823079-48f853ba-2a4c-4491-b32c-804b20ce4cb1.png">

I am currently facing an issue. I followed the starting my project guide `npm install > npm run dev` strictly and this is what I'm facing since I've ran `npm un dev`

How to solve this?

[2022-10-31 16:08] #219 closed

[2022-11-02 07:35] #183 closed

[2022-11-16 05:59] Akshay1018 commented on #74
@ykdojo the above design seems good. is any design for the Show question/ how it works finalized or not? This will be really interesting if we start working on it. What are your thoughts on this @ykdojo?

[2022-11-25 11:06] yaa-chi commented on #74
Done⚡

[2022-11-25 16:34] #210 closed

[2022-11-25 18:26] rupali-codes opened #321 "[FEATURE] Sticky Navbar"
### Description

It has been a good user experience to have a sticky navbar,

Here's some key benefits , if you would like to add:
- It attracts users to register/login with the site
- User will Not have to search for something in the page, they can directly get whatever else they are looking for while being in middle of the page or scrolling

[2022-11-27 09:54] joe-shajan commented on #321
Hey @rupali-codes I would love to do this. Can you assign this to me?